.arabic-text {
  font-family: 'Amiri', serif;
  font-size: 30px;
  color: $black;
  @at-root .dark & {
    color: white;
  }
  @include sm {
    font-size: 10px;
  }
  @include md {
    font-size: 20px;
  }
}

.arabic {
  font-size: 30px;
  line-height: 2em;
  color: $black;
  z-index: 1;

  @at-root .dark & {
    color: white;
  }

  @include sm {
    font-size: 10px;
  }

  @include md {
    font-size: 20px;
  }
}

.w{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
