.lines{
  .line{
    display: block;
    direction: rtl;

    .line-verses{
      line-break: anywhere;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;

      &.line--single-verse{
        .verse, .arabic {
          flex: 1 0 100%;
          display: flex;
          justify-content: space-between;
          -webkit-box-pack: justify;
        }
      }
    }
  }
}
//ayah ul kursi
.page--center{
  .lines .line .line-verses{
    justify-content: center;

    &.line--single-verse{
      .verse, .arabic {
        flex: 1 0 100%;
        justify-content: center;
      }
    }
  }
}
