.accordion-box {
  .btn-link[aria-expanded="false"] {
    &:after {
      content: "+";
      position: absolute;
      top: 15px;
      right: 0px;
      width: 25px;
      height: 25px;
      line-height: 22px;
      border-radius: 50%;
      font-size: 16px;
      text-align: center;
      color: #80deea;
      border: solid 1px #80deea;
      background-color: #e0f7fa;
    }
  }

  .btn-link[aria-expanded="true"] {
    &:after {
      content: "-";
      position: absolute;
      top: 15px;
      right: 0px;
      width: 25px;
      height: 25px;
      line-height: 22px;
      border: solid 1px #80deea;
      background-color: #e0f7fa;
      border-radius: 50%;
      font-size: 16px;
      color: #80deea;
      text-align: center;
    }
  }
}
