#bismillah {
  color: #000;
  font-family: "bismillah";
  font-size: 60px;
  padding: 25px 0;
}

.surah-actions {
  .dropdown-menu.show {
    overflow: auto;
    width: 300px;
    max-height: 350px;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 12px;
    top: 46%;
  }

  @media #{$tablet-md} {
    .verse-dropdown,
    .surah-dropdown {
      position: unset;

      .dropdown-menu {
        max-height: unset;
        position: fixed !important;
        bottom: 0px;
        top: -2px !important;
        transform: unset !important;
        z-index: $cloud - 100;
      }
    }

    .actions-row {
      position: relative;
    }
  }
}

#chapter-page {
  .verse-actions-below {
    @media #{$tablet-md} {
    }
  }

  .font-size-box {
    height: 45px;
    width: 45px;
  }
}

.verse {
  .w {
    margin: 0 5px;
  }

  .translation {
    sup {
      color: $color-primary;
      cursor: pointer;
    }

    inline-comment {
      color: $color-primary;

      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }

    small {
      a {
        font-size: 14px;
        color: #607d8b;
      }

      i {
        font-size: 11px;
        color: $color-primary;
        margin-right: 5px;
      }
    }
  }
}

.nav-item {
  &:focus,
  &:active {
    outline: none !important;
  }
}

.dropdown-item.active {
  a {
    color: #fff;
  }
}

#player {
  .slider-handle {
    background: $color-primary;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    top: -4px;
  }
}

.filter-hide {
  display: none;
}
