a {
  text-decoration: none;
}

body {
  font-family: SFProText-Regular;
}

ul {
  list-style: none;
  padding: 0;
}

/*Font Family FF*/
.ff-b {
  font-family: SFProText-Bold;
}

.ff-m {
  font-family: SFProText-Medium;
}

.ff-r {
  font-family: SFProText-Regular;
}

/*Line Height*/
.lh-n {
  line-height: normal;
}

/*Pointer*/
.c-pointer {
  cursor: pointer;
}

/*custom shadow*/
.custom-shadow {
  border-radius: 5px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}

/*Icons*/
.fa-center,
.fa-center-1,
.fa-center-2,
.fa-center-3 {
  height: 12px;
  vertical-align: middle;
  display: inline-block;
}
.fa-center-1 {
  height: 17px;
}
.fa-center-2 {
  height: 22px;
}
.fa-center-3 {
  height: 32px;
}
/*Header*/
.navbar-toggler {
  padding: 7px 12px 7px 10px;
  .fa {
    &:before {
      height: 17px;
      vertical-align: middle;
      margin: 0px;
    }
  }
}

/*Search box*/
.search-form {
  .form-group {
    input.form-control {
      &::-webkit-input-placeholder {
        display: none;
      }
      &::-moz-placeholder {
        display: none;
      }
    }
  }

  .form-group {
    position: relative;
    width: 0%;
    min-width: 60px;
    height: 60px;
    overflow: visible;
    transition: width 1s;
    input.form-control {
      position: absolute;
      top: 0;
      right: 0;
      outline: none;
      width: 100%;
      height: 60px;
      margin: 0;
      z-index: 1;
    }
  }

  .search-label,
  .form-control-submit {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    background: white;
    z-index: 1;
  }

  .form-group.sb-search-open {
    width: 100%;
    .search-label {
      background: $color-primary;
      color: #fff;
      z-index: 1;
    }

    .form-control-submit {
      z-index: 1;
    }

    .fa {
      color: #fff;
    }

    input.form-control {
      padding-right: 65px;
    }
  }

  .no-js {
    .sb-search-open {
      width: 100%;
    }

    .sb-search {
      .search-label {
        background: $color-primary;
        color: #fff;
        z-index: 1;
      }
    }

    .form-control {
      .form-control-submit {
        z-index: 1;
      }
    }
  }
}

.rounded-search {
  .form-control,
  .form-control-submit,
  .search-label {
    border-radius: 50px !important;
    border: 1px solid $color-primary;
    height: 44px !important;
  }
  .search-form {
    height: 44px;
    .form-group {
      min-width: 44px;
    }
  }
  .expand-collapse {
    position: absolute;
    right: 2%;
    &.sb-search-open {
      width: 77%;
    }
  }
  .form-control-submit,
  .search-label {
    width: 44px;
    padding: 0;
    line-height: 44px;
  }
  .search-label {
    padding: 5px;
  }
  .form-group.sb-search-open {
    input.form-control {
      padding-right: 48px;
    }
  }
  @media #{$phone-xs} {
    .search-form {
      .form-search {
        right: 5px;
      }
    }
  }
}

/*checboxes*/
.custom-label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;

  input {
    position: absolute;
    left: -9999px;

    &:checked + p {
      background-color: mix(#fff, $color-primary, 84%);
      color: $color-primary;
      &:before {
        box-shadow: inset 0 0 0 0.4375em $color-primary;
      }
    }
  }

  p {
    display: flex;
    align-items: center;
    padding: 0.575em 0.75em 0.575em 0.375em;
    transition: 0.25s ease;

    &:hover {
      background-color: mix(#fff, $color-primary, 84%);
      color: $color-primary;
    }

    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #fff;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-right: 0.375em;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em $text-muted;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 40px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    background: black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "\f186";
    padding: 6px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: black;
    color: white;
    border: 2px solid white;
  }

  input:checked + .slider::before {
    content: "\f185";
    background: #48a3b8;
    color: #f9d71c;
    border: 2px solid #48a3b8;
  }

  .slider::after {
    content: "Night Mode";
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-21%, -50%);
    width: 100%;
    position: absolute;
    font-family: sans-serif;
  }
  input:checked + .slider::after {
    content: "Day Mode";
    color: #48a3b8;
    right: 50%;
    left: unset;
    top: 50%;
    transform: translate(64%, -50%);
  }

  input:checked + .slider {
    background-color: white;
    border: 1px solid $color-primary;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(98px);
    -ms-transform: translateX(98px);
    transform: translateX(98px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

h2,
.h2 {
  font-family: $font-bold;
  font-size: 30px;
  color: $color-primary;
  margin-bottom: 15px;

  span {
    font-family: $font-regular;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
