a {
  text-decoration: none;
}

body {
  font-family: SFProText-Regular;
}
/*Font Family FF*/
.ff-b {
  font-family: SFProText-Bold;
}

.ff-m {
  font-family: SFProText-Medium;
}
.ff-r {
  font-family: SFProText-Regular;
}

/* font sizes */
.fs-nano {
  font-size: rem_to_px($fs-nano) !important;
} /* 10px */
.fs-xs {
  font-size: rem_to_px($fs-xs) !important;
} /* 12px */
.fs-sm {
  font-size: rem_to_px($fs-sm) !important;
} /* 12.5px */
.fs-b {
  font-size: rem_to_px($fs-base) !important;
} /* 13px */
.fs-md {
  font-size: rem_to_px($fs-md) !important;
} /* 14px */
.fs-lg {
  font-size: rem_to_px($fs-lg) !important;
} /* 15px */
.fs-xl {
  font-size: rem_to_px($fs-xl) !important;
} /* 16px */
.fs-xxl {
  font-size: rem_to_px($fs-xxl) !important;
}

/*Line Height*/

.lh-n {
  line-height: normal;
}

/*Pointer*/
.c-pointer {
  cursor: pointer;
}

/*custom shadow*/
.custom-shadow {
  border-radius: 5px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}

/*Search box*/
.search-form {
  .form-group {
    input.form-control {
      &::-webkit-input-placeholder {
        display: none;
      }
      &::-moz-placeholder {
        display: none;
      }
    }
  }

  .form-group {
    position: relative;
    width: 0%;
    min-width: 60px;
    height: 60px;
    overflow: visible;
    transition: width 1s;
    input.form-control {
      position: absolute;
      top: 0;
      right: 0;
      outline: none;
      width: 100%;
      height: 60px;
      margin: 0;
      z-index: 10;
    }
  }

  .search-label,
  .form-control-submit {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    background: white;
    z-index: 90;
  }

  .form-group.sb-search-open {
    width: 100%;
    .search-label {
      background: $color-primary;
      color: #fff;
      z-index: 111;
    }
    .form-control-submit {
      z-index: 90;
    }
  }

  .no-js {
    .sb-search-open {
      width: 100%;
    }

    .sb-search {
      .search-label {
        background: $color-primary;
        color: #fff;
        z-index: 11;
      }
    }

    .form-control {
      .form-control-submit {
        z-index: 90;
      }
    }
  }
}

.rounded-search {
  .form-control,
  .form-control-submit,
  .search-label {
    border-radius: 50px;
    border: 1px solid $color-primary;
    height: 44px !important;
  }
  .search-form {
    height: 44px;
    .form-group {
      min-width: 44px;
    }
  }
  .expand-collapse {
    position: absolute;
    right: 2%;
    &.sb-search-open {
      width: 77%;
    }
  }
  .form-control-submit,
  .search-label {
    width: 44px;
    padding: 0;
    line-height: 44px;
  }
  .search-label {
    padding: 5px;
  }
}

/*checboxes*/
.custom-label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  input {
    position: absolute;
    left: -9999px;
    &:checked + span {
      background-color: mix(#fff, $color-primary, 84%);
      color: $color-primary;
      &:before {
        box-shadow: inset 0 0 0 0.4375em $color-primary;
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    padding: 0.575em 0.75em 0.575em 0.375em;
    transition: 0.25s ease;
    &:hover {
      background-color: mix(#fff, $color-primary, 84%);
      color: $color-primary;
    }
    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #fff;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-right: 0.375em;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em $text-muted;
    }
  }
}
