.related-sites-section {
  .caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 172, 193, 0.7);
    border-radius: 4px;
    color: #fff;
    padding: 0 30px;

    @media #{$tablet-md} {
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

.tab-content {
  .items {
    counter-reset: order;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    @media #{$tablet-md} {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }

    li {
      position: relative;
      margin-bottom: 10px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      break-inside: avoid-column;

      .juz-num {
        background: $color-primary;
        padding: 0px 7px;
        left: 1px;
        border-bottom-right-radius: 4px;
        color: white;
      }

      .chapter-number-box {
        .juz-num {
          top: 5px;
        }

        &:hover {
          box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
          border: 1px solid $color-primary !important;
        }
      }

      .juz-container {
        &:hover {
          border: 1px solid $color-primary !important;
        }

        .juz-box {
          &:hover {
            box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
          }

          &:last-child {
            border: unset !important;
          }
        }
      }
    }
  }
}
