$icon-tag: "\f02b";
$icon-tags-solid: "\f02c";
$icon-bookmarked: "\f02f";
$icon-taged: "\f030";
$icon-tags: "\f031";
$icon-book: "\f02d";
$icon-bookmark: "\f02e";
$icon-qr-2: "\e907";
$icon-exclamation-triangle: "\f071";
$icon-star-exclamation: "\f2f3";
$icon-arrow-down: "\e900";
$icon-arrow-right: "\e901";
$icon-book-open: "\e902";
$icon-moon-filled: "\e903";
$icon-moon: "\e904";
$icon-duplicate: "\e905";
$icon-home: "\e906";
$icon-link: "\e90a";
$icon-next: "\e90b";
$icon-pause: "\e90c";
$icon-qr: "\e90e";
$icon-search: "\e90f";
$icon-minus: "\e910";
$icon-plus: "\e911";
$icon-settings1: "\e914";
$icon-x: "\e915";
$icon-play1: "\e916";
$icon-share-2: "\e917";
$icon-about: "\e919";
$icon-contribute: "\e91a";
$icon-dev: "\e91b";
$icon-help: "\e91c";
$icon-phone: "\e91d";
$icon-next1: "\e91e";
$icon-prev: "\e91f";
$icon-repeat: "\e920";
$icon-menu: "\e921";
$icon-copy: "\e922";
$icon-minus1: "\ea0b";
$icon-checkmark: "\ea10";
$icon-arrow-right2: "\ea3c";
$icon-arrow-left2: "\ea40";
$icon-times-circle: "\f057";
$icon-twitter: "\f099";
$icon-loading: "\f110";
$icon-pinterest: "\f231";
$icon-whatsapp: "\f232";
$icon-pocket: "\f265";
$icon-reddit: "\f281";
$icon-envelope: "\f2b6";
$icon-facebook: "\f39e";
$icon-messenger: "\f39f";
$icon-line: "\f3c0";
$icon-telegram: "\f3fe";
