$icon-loading: "\f110";
$icon-times-circle: "\f057";
$icon-copy: "\e922";
$icon-menu: "\e921";
$icon-next1: "\e91e";
$icon-prev: "\e91f";
$icon-repeat: "\e920";
$icon-about: "\e919";
$icon-contribute: "\e91a";
$icon-dev: "\e91b";
$icon-help: "\e91c";
$icon-phone: "\e91d";
$icon-play1: "\e916";
$icon-settings-path1: "\e912";
$icon-settings-path2: "\e913";
$icon-minus: "\e910";
$icon-plus: "\e911";
$icon-arrow-down: "\e900";
$icon-arrow-right: "\e901";
$icon-book-open: "\e902";
$icon-down-path1: "\e903";
$icon-down-path2: "\e904";
$icon-duplicate: "\e905";
$icon-home: "\e906";
$icon-lamp-path1: "\e907";
$icon-lamp-path2: "\e908";
$icon-lamp-path3: "\e909";
$icon-link: "\e90a";
$icon-next: "\e90b";
$icon-pause: "\e90c";
$icon-quran-reflect: "\e90e";
$icon-search: "\e90f";
$icon-share-2: "\e917";
$icon-x: "\e915";
$icon-settings1: "\e914";
$icon-minus1: "\ea0b";
$icon-checkmark: "\ea10";
$icon-arrow-right2: "\ea3c";
$icon-arrow-left2: "\ea40";
