.play-segment {
  background-color: #ffffff;
  border: 1px solid #cdecf1;
  border-radius: 4px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: var(--el-selection-x);
  top: var(--el-selection-y);
  z-index: 10;
  transform: translateX(-50%) translateY(15px);

  display: none;
  &.active {
    display: flex;
  }

  @at-root .dark & {
    background-color: #31333d;
    border: 1px solid #71727e;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  p {
    margin: 0;
    padding: 0;
    margin-left: 8px;
    font-size: 14px;
    color: #333647;
    white-space: nowrap;
    @at-root .dark & {
      color: #fbfbfb;
    }
  }
  .icon-play1:before {
    font-family: quran-icon;
    font-size: 16px;
    color: $dark-green;
    margin: 0;
    padding: 0;
    line-height: normal;
  }
}
