<div id="<%= dom_id @foot_note.resource %>">
  <div id="footnote">
    <div class="<%= @foot_note.language_name %>">
      <span class="resource">FOOTNOTE</span>
      <%= @foot_note.text.html_safe %>
    </div>
  </div>
</div>