<% if @foot_note %>
  <div class="footnote alert alert-dismissible p-2 mb-2 <%= @foot_note.language_name %>" role="alert" id="footnote-<%= @foot_note.id %>">
    <div class="flexx">
      <span class="text text--black text--large text--semibold"><%= _t('footnote') %></span>
      <a class="close text text--semibold text--green" id='close-footnote' data-dismiss="alert" aria-label="Close">
        <span class="icon-times-circle"></span>
      </a>
    </div>

    <div data-controller="translation" class="text text--grey text--medium text--regular translation">
      <%= @foot_note.text.html_safe %>
    </div>
  </div>
<% end %>
