<div class="verse">
  <div class="row">
    <div class="col-md-12">
      <div class="text-primary">
        <%= link_to item[0] do %>
         <%= item[1].html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>
