<% pagy_info = @presenter.pagination %>

<section class="pagination-section">
  <div class="container surah-actions overflow-auto mt-4 mt-md-0 scrolling-wrapper">
    <ul class=" d-flex flex-row flex-wrap list-inline mb-0  justify-content-between px-4 w-100 flex-wrap" id="surah-actions">
      <li class="list-inline-item d-flex align-items-center" id="reciter-dropdown">
        <span class="text-nowrap font-weight-bold"><%= _t('search.result', {from: pagy_info.from, to: pagy_info.to, total: pagy_info.count, query: @presenter.query}) %></span>
      </li>

      <li class="list-inline-item d-flex align-items-center font-weight-bold">
        <%= pagy_nav(pagy_info).html_safe %>
      </li>
    </ul>
  </div>
</section>
