<div class="search-results" data-controller="search-results">
  <div class="container-xl search-results__content">
    <div class="search-results__first space-b-32">
      <div class="search-results__space"></div>
      <div class="search-results__input space-x-32">
        <div class="space-y-32">
          <p class="text text--black text--xlarge text--semibold">Search</p>
        </div>

        <div class="search-suggestion-">
          <div class="input-wrapper suggestion-input large fluid">
            <input type="search" placeholder="Search for surah, ayah or tafsirs">

            <div>
              <div class="did-you-mean">
                <p class="text-red">Did you mean:</p>
                <a class="text--green" href="/surah-ar-rahman">Ar-Rrahman</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search-results__second">
      <div class="search-results__results space-x-32">
        <div class="search-results__results--body">
          <div>
            <p class="text text--grey text--medium text--regular">
              <%= _t('search.error') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
