<% content_for :header do %>
  <div class="head-center">
    <%= render 'shared/search_form', expanded: true %>
  </div>
<% end %>

<%= render 'pagination' %>

<div class="container">
  <div id="verses" data-controller="infinite-page chapter" style="margin-top: 50px">
    <% if @presenter.no_results? %>
      <div class="row">
        <div class="col-12 text-center" style="margin-top: 20px">
          <h3><%= _t("search.no_result") %></h3>
        </div>
      </div>
    <% end %>

    <%= render 'results' %>
  </div>
</div>
