<div class="search-suggestions search-item--stacked hidden">
  <div class="search-results__second ">
    <div class="search-results__results">
      <% if false %>
        <div class="search-results__results--header space-x-12 space-b-32">
          <div class="flex">
            <p class="text space-x-12 text--grey text--medium text--regular">Filter Results:</p>
            <div class="tabs">
              <a id="" class="tabs__item tabs__item--selected ">All results</a>
              <a id="" class="tabs__item ">
                Current Surah
              </a>
            </div>
          </div>
        </div>
      <% end %>

      <div class="search-results__results--body">
        <div>
          <div class="search-item--stacked">
            <% if (suggestions = @presenter.navigation_results).present? %>
              <div class="space-b-24">
                <div class="text text--grey text--medium text--regular mb-2">
                  <h5>Jump to</h5>
                </div>
                <%= render partial: "search/result_types/navigate_suggestion", collection: suggestions, as: :suggestion %>
              </div>
            <% end %>

            <div class="space-b-24">
              <div class="text text--grey text--medium text--regular mb-2">
                <h5>Results</h5>
              </div>

              <%= render partial: 'search/result_types/verse', collection: @presenter.verses %>
            </div>

            <% if false %>
              <div class="space-b-24">
                <p class="text space-x-12 text--grey text--medium
                text--regular">Tafsir’s</p>
                <div class="search-item">
                  <div><p class="number">1:1</p></div>
                  <div class="search-item--results">
                    <div class=" search-item--title"><p class="">Surah Ar-Rrahman</p>
                    </div>
                    <div class="search-item--translation"><p>The face of your
                      Lord, O Messenger, the One of greatness, kindness…</p></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="relative space-y-16 ">
          <p class="text space-x-12 text text--grey text--small
                      text--regular">14 results</p>
          <div class="absolute-center text-center">
            <a href="/search?query=<%= params[:query] %>">
              <div class="text text--green text--medium">
                Show all results
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
