<div class="search-suggestions search-item--stacked hidden">
  <div class="search-results__second ">
    <div class="search-results__results">
      <div class="search-results__results--header space-x-12 space-b-32">
        <div class="flex">
          <p class="text space-x-12 text--grey text--medium text--regular">Search on:</p>
          <div class="tabs">
            <a id="" class="tabs__item tabs__item--selected ">All results</a>
            <a id="" class="tabs__item ">Current
              Surah's</a>
          </div>
        </div>
      </div>
      <div class="search-results__results--body">
        <div>
          <div class="search-item--stacked">
            <div class="space-b-24">
              <p class="text  space-x-12 text--grey text--medium
                text--regular">SURAHS</p>
              <div class="search-item">
                <div><p class="number">1:1</p></div>
                <div class="search-item--results">
                  <div class=" search-item--title"><p class="">Surah Ar-Rrahman</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="space-b-24">
              <p class="text space-x-12 text--grey text--medium
                text--regular">Ayah’s</p>
              <div class="search-item">
                <div><p class="number">1:1</p></div>
                <div class="search-item--results">
                  <div class="search-item--ayah"><p>كٓهٰیٰعٓصٓ۫ۚ(۱) ذِكْرُ رَحْمَتِ
                    رَبِّكَ عَبْدَهٗ
                    زَكَرِیَّاۖۚ(۲) اِذْ نَادٰى رَبَّهٗ نِدَآءً خَفِیًّا</p></div>
                  <div class="search-item--translation"><p>Only your Lord Himself,
                    full of Majesty and
                    Honour, will remain ˹forever˺.</p></div>
                </div>
              </div>
              <div class="search-item">
                <div><p class="number">1:1</p></div>
                <div class="search-item--results">
                  <div class="search-item--ayah"><p>كٓهٰیٰعٓصٓ۫ۚ(۱) ذِكْرُ رَحْمَتِ
                    رَبِّكَ عَبْدَهٗ
                    زَكَرِیَّاۖۚ(۲) اِذْ نَادٰى رَبَّهٗ نِدَآءً خَفِیًّا</p></div>
                  <div class="search-item--translation"><p>Only your Lord Himself,
                    full of Majesty and
                    Honour, will remain ˹forever˺.</p></div>
                </div>
              </div>
              <div class="search-item">
                <div><p class="number">1:1</p></div>
                <div class="search-item--results">
                  <div class="search-item--ayah"><p>كٓهٰیٰعٓصٓ۫ۚ(۱) ذِكْرُ رَحْمَتِ
                    رَبِّكَ عَبْدَهٗ
                    زَكَرِیَّاۖۚ(۲) اِذْ نَادٰى رَبَّهٗ نِدَآءً خَفِیًّا</p></div>
                </div>
              </div>
              <div class="search-item">
                <div><p class="number">1:1</p></div>
                <div class="search-item--results">
                  <div class="search-item--ayah"><p>كٓهٰیٰعٓصٓ۫ۚ(۱) ذِكْرُ رَحْمَتِ
                    رَبِّكَ
                    عَبْدَهٗ زَكَرِیَّاۖۚ(۲) اِذْ نَادٰى رَبَّهٗ نِدَآءً
                    خَفِیًّا</p></div>
                </div>
              </div>
            </div>
            <div class="space-b-24">
              <p class="text space-x-12 text--grey text--medium
                text--regular">Tafsir’s</p>
              <div class="search-item">
                <div><p class="number">1:1</p></div>
                <div class="search-item--results">
                  <div class=" search-item--title"><p class="">Surah Ar-Rrahman</p>
                  </div>
                  <div class="search-item--translation"><p>The face of your
                    Lord, O Messenger, the One of greatness, kindness…</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relative space-y-16 ">
          <p class="text space-x-12 text text--grey text--small
                      text--regular">14 results</p>
          <div class="absolute-center text-center">
            <a href="/search?query=<%= params[:query] %>">
              <p class="text text--green text--medium">
                Show all results</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
