.content-page {
  padding-top: 40px;
  margin: auto;
  &.content-page--small {
    max-width: 557px;
  }
  &.content-page--medium {
    max-width: 774px;
  }
}

.content-page h1 {
  @extend .text;
  @extend .text--black;
  @extend .text--xlarge;
  @extend .text--semibold;
  &.green {
    color: $dark-green;
  }
}
.content-page p {
  @extend .text;
  @extend .text--grey;
  @extend .text--medium;
  @extend .text--regular;
  margin-bottom: 24px;
  &.no-margin {
    margin-bottom: 0;
    margin-left: 0;
  }
}
.content-page h5 {
  @extend .text;
  @extend .text--medium;
  @extend .text--semibold;
  color: #333647;
}
.content-page a:not(.btn) {
  @extend .text;
  @extend .text--green;
  @extend .text--medium;
  @extend .text--regular;

  @at-root .dark & {
    color: $dark-green;
  }
}

.text-image {
  display: flex;
  @include md {
    flex-direction: column-reverse;
  }
}
.text-image--reverse {
  flex-direction: row-reverse;
  @include md {
    flex-direction: column-reverse;
  }
}

.text-image > div {
  width: 50%;
  margin: 15px;
  @include md {
    width: auto;
  }
}
.text-image__text {
  &.text-image__text--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.text-image__image {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.text-image__image img {
  max-width: 320px;
  width: 100%;
  height: auto;
}

.green-link {
  height: 40px;
  color: #ffffff !important;
  font-size: 14px;
  background-color: $dark-green;
  border-radius: 4px;
  padding: 8px !important;
  display: flex;
  align-items: center;
}

.content-page__center {
  display: flex;
  justify-content: center;
  &.col {
    flex-direction: column;
    align-items: center;
  }
}

.apps-link {
  display: flex;
}

.accordion {
  margin-bottom: 80px;
  p {
    margin: 0 !important;
    color: #333647;
    @at-root .dark & {
      color: #fbfbfb;
    }
  }
  .card {
    background: none;
    background-color: transparent;
    @at-root .dark & {
      border-color: #71727e;
    }
    .card-header {
      background-color: transparent;
      @at-root .dark & {
        border-color: #71727e;
      }
      .btn {
        height: auto !important;
      }
    }
    .card-body {
      color: #71727e;
      font-size: 14px;
      padding-left: 32px;
      @at-root .dark & {
        color: #999aa2;
      }
    }
    .btn {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.developers-link {
  p {
    margin-bottom: 0px !important;
  }
}

.quran-logo {
  max-width: 315px;
  width: 100%;
}
.popular-searches {
  overflow: hidden;
  display: flex;
  position: relative;
  overflow-x: scroll;
  flex: 1;
  height: 40px;
  margin: 0 4px;

  &::-webkit-scrollbar {
    display: none;
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.popular-searches > div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  overflow-x: scroll;
  // margin: 0 -8px;

  a {
    white-space: nowrap;
    margin: 0 8px;
    padding: 8px;

    &:nth-child(1) {
      margin-left: 0;
    }
    @at-root .dark & {
      background-color: #00abc24d !important;
      color: $dark-green !important;
    }
  }
}
.space-y-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.space-y-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.space-y-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.space-b-24 {
  margin-bottom: 24px;
}
.space-b-32 {
  margin-bottom: 32px;
}
.space-x-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.space-x-12 {
  margin-left: 12px;
  margin-right: 12px;
}
.space-x-32 {
  margin-left: 32px;
  margin-right: 32px;
}
.relative {
  position: relative;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex {
  display: flex;
}
