@import 'header';
@import 'navbar';
@import 'settings';
@import 'menus';
@import 'translations';
@import 'reciters';
@import 'site-menu';
@import 'translation';
@import 'page-info';
@import 'player';
@import 'copy';
@import 'content-page';
@import 'footer';
@import 'play-bar';
