.play-bar-wrapper {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: $grey2;
  z-index: 222;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(200%);
  transition: transform 0.3s;
  @at-root .dark & {
    background-color: $dark-grey;
  }
  @include md {
    height: 88px;
    background-color: #e1e1e4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  @at-root body.small-player & {
    transform: translateY(0px);
  }
}
.play-bar {
  background-color: #e1e1e4;
  border-radius: 20px;
  //   width: 713px;
  height: 40px;
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  @at-root .dark & {
    background-color: #1c1c20;
    @include md {
      background-color: transparent;
    }
  }
  @include md {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    max-width: 500px;
  }
  @include xsm {
    padding: 0 4px;
  }
  & > div {
    margin-right: 32px;
    @include md {
      margin-right: 0px;
      margin: 0 4px;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  .playing-part {
    display: flex;
    align-items: center;
    order: 1;
    @include md {
      flex-direction: column;
      order: 2;
    }
    p {
      margin: 0;
      padding: 0;
      margin-left: 8px;
      color: #71727e;
      font-size: 14px;
      @at-root .dark & {
        color: #fbfbfb;
      }
      @include md {
        margin-left: 0px;
      }
    }
    a {
      @include md {
        margin-bottom: 4px;
      }
      &::before {
        font-family: quran-icon;
        font-size: 28px;
        color: $dark-green;
      }
    }
    a.icon-loading::before{
      font-size: 20px;
    }
  }
  .counter-part {
    display: flex;
    align-items: center;
    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
    .counter p {
      white-space: nowrap;
    }
    & > p {
      margin: 0;
      padding: 0;
      margin-right: 4px;
      @at-root .dark & {
        color: #ffffff;
      }
    }
  }
  .counter-part--first {
    order: 2;
    @include md {
      order: 1;
    }
  }
  .counter-part--second {
    order: 3;
    @include md {
      order: 3;
    }
  }
  .closing-part {
    order: 4;

    .icon-x {

      &::before {
        font-size: 18px;
        font-weight: 400;
        color: #999aa2;
        @at-root .dark & {
          color: #e1e1e4;
        }
      }
    }
    @include md {
      order: 4;
      position: absolute;
      top: 0;
      right: 8px;
      transform: translateY(-50%);
      background-color: #e1e1e4;
      border-radius: 50%;
      padding: 4px;
      @at-root .dark & {
          background-color: #31333D;
      }
    }
  }
  @include sm {
  }
}
