.settings {
}

.settings__menu__head {
  display: flex;
  justify-content: space-between;
}

.settings__menu__head__first-part {
  display: flex;
  align-items: center;
  a {
    color: black;
  }
}

.flexx {
  display: flex;
  justify-content: space-between;
}

.flexx-center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.audio-select {
  width: 100%;
  &.half {
    width: 50%;
    padding-right: 8px;
  }
  &:nth-child(1) {
    margin-right: 16px;
  }
}

.display-settings__radios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  @include sm {
    padding: 0 8px;
  }
}
.audio-settings {
  .audio-control {
    // margin-bottom: 32px;
  }
  @include sm {
    padding: 16px;
  }
}
