[class*="col-"] {
  margin-bottom: 30px;
}
.text-left{text-align:left}.text-right{text-align:right}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto
}

.row {
  margin-right: -10px;
  margin-left: -10px
}

.row:after, .row:before {
  display: table;
  content: " "
}

.row:after {
  clear: both
}

.container-full, .container-full [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.container-full .row {
  margin-left: 0;
  margin-right: 0;
}

.no-gap [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.no-gap.row {
  margin-right: 0;
  margin-left: 0;
}

.mini-gap [class*="col-"] {
  margin: 5px;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px
}

[class*="col-"] {
  float: left
}

.col-xs-12, .col-sm-12 {
  width: 100%
}

.col-xs-11 {
  width: 91.66666667%
}

.col-xs-10 {
  width: 83.33333333%
}

.col-xs-9 {
  width: 75%
}

.col-xs-8 {
  width: 66.66666667%
}

.col-xs-7 {
  width: 58.33333333%
}

.col-xs-6 {
  width: 50%
}

.col-xs-5 {
  width: 41.66666667%
}

.col-xs-4 {
  width: 33.33333333%
}

.col-xs-3 {
  width: 25%
}

.col-xs-2 {
  width: 16.66666667%
}

.col-xs-1 {
  width: 8.33333333%
}
.pull-right{
  float: right;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left
  }
  .col-sm-12 {
    width: 100%
  }
  .col-sm-11 {
    width: 91.66666667%
  }
  .col-sm-10 {
    width: 83.33333333%
  }
  .col-sm-9 {
    width: 75%
  }
  .col-sm-8 {
    width: 66.66666667%
  }
  .col-sm-7 {
    width: 58.33333333%
  }
  .col-sm-6 {
    width: 50%
  }
  .col-sm-5 {
    width: 41.66666667%
  }
  .col-sm-4 {
    width: 33.33333333%
  }
  .col-sm-3 {
    width: 25%
  }
  .col-sm-2 {
    width: 16.66666667%
  }
  .col-sm-1 {
    width: 8.33333333%
  }
}