header,
.sidebar {
  color: #ddd;
  border-bottom: 5px solid $color-primary;
}

header {
  position: relative;
  min-height: 51px;
  padding: 0 5px;
  z-index: 999;

  .fa-link {
    color: $color-primary;
    font-size: 25px;
    padding-top: 14px;
    margin-right: 20px;
  }
}

#logo {
  padding-top: 11px;
  font-size: 24px;
  color: $color-primary;
  font-family: $font-bold;
  float: left;
  span {
    font-family: $font-regular;
  }
}

.toast {
  position: relative;
  height: 51px;
  padding-left: 15px;
  padding-right: 15px;
  width: 49px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  float: left;
}

.toast:after,
.toast:before,
.toast span {
  position: absolute;
  display: block;
  width: 19px;
  height: 3px;
  border-radius: 2px;
  background-color: #b0bec5;
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.toast:after,
.toast:before {
  content: "";
  width: 16px;
  left: 15px;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
}

.toast span {
  opacity: 1;
  top: 24px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.toast:before {
  top: 17px;
}

.toast:after {
  top: 31px;
}

header .head-center .search-form .form-control {
  padding: 6px 75px 6px 20px;
}
