.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.fixed {
  position: fixed;
}
.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pr4 {
  padding-right: 2rem;
}
.pl2 {
  padding-left: 1rem;
}
.mx-auto {
  margin-left: auto;
}
.mr-auto, .mx-auto {
  margin-right: auto;
}
.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

.hambugr{
  cursor: pointer;
  text-decoration: none;
  line-height: 3.5rem;
  font-size: 2rem;
}
.px3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-close{
  line-height: 3.5rem;
  font-size: 2rem;
}

.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}