.darkbg{
  background-color: rgba(34, 34, 34, 0.85);
  color: #fff;
  padding-top: 10px;

  h1{
    margin: 0;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mb0 {
  margin-bottom: 0;
  [class*="col-"] {
    margin-bottom: 0;
  }
}

.resource-info {
  color: #fff;
  margin-top: -230px;
  margin-bottom: 0;

  h1 {
    margin: 0;
  }
  label {
    margin-right: 10px;
    font-weight: normal;
    color: #999;
  }
  .resource-meta {
    span {
      border: 1px solid #111;
      font-size: 12px;
      background: rgba(0, 0, 0, 0.42);
      padding: 3px 5px;
      border-radius: 2px;
      bordrer: 1px solid;
      color: #ddd;
      margin: 2px;
    }
  }

  .basic-info {
    margin-top: 15px;

    .col-sm-12, .col-sm-6 {
      margin-bottom: 15px;
    }
  }
}

.bg-shadow {
  height: 280px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.external-ratings {
  h3 {
    font-size: 14px;
    color: #dddddd;
    margin: 0 0 10px 0;
  }

  img {
    width: inherit;
  }

  span {
    font-size: 30px;
    color: #fff;
  }

  .external-rating {
    padding: 0;
    text-align: center;
    display: block;
    margin-bottom: 0;

    .external-rating-value {
      display: block;
    }
    a {
      display: inline-block;
      width: 68px;
      height: 46px;

    }
  }

  .imdb {
    .rating-logo {
      background: #ffcc00;
      border-bottom: 1px solid #ffa200;
    }
    .external-rating-value {
      background: #ffcc33;
    }
  }

  .ign {
    .rating-logo {
      background: #d41b2d;
      border-bottom: 1px solid #c40a1c;
    }
    .external-rating-value {
      background: #e03d4d;
    }
  }

  .meta-critic {
    .rating-logo {
      background: #0099cc;
      border-bottom: 1px solid #01546f;
    }
    .external-rating-value {
      background: #33ccff;
    }
  }

  .game_spot {
    .external-rating-value {
      background: #fad14b;
    }
    .rating-logo {
      background: #f7c626;
      border-bottom: 1px solid #eab405;
    }
  }

  .rotton-tamatto {
    .external-rating-value {
      background: #cc3333;
    }

    .rating-logo {
      background: #cc0000;
      border-bottom: 1px solid #8b0101;
    }
  }

  .play {
    .external-rating-value {
      background: #dce6e7;
    }
    .rating-logo {
      background: #c4d3d4;
      border-bottom: 1px solid #aec0c1;
    }
  }

  .anilist {
    .external-rating-value {
      background: #0099cc;
    }
    .rating-logo {
      background: #008999;
      border-bottom: 1px solid #047784;
    }
  }
  .mal {
    .external-rating-value {
      background: #3664cf;
    }
    .rating-logo {
      background: #2e51a2;
      border-bottom: 1px solid #183b8c;
    }
  }
  .crunchi-roll {
    .external-rating-value {
      background: #fa9f28;
    }
    .rating-logo {
      background: #f48c00;
      border-bottom: 1px solid #e48100;
    }
  }
  .ann {
    .external-rating-value {
      background: #3dd4ef;
    }
    .rating-logo {
      //background: #00b3d3;
      background: #00b3d3;
      border-bottom: 1px solid #08a5c1;
    }
  }
  .game-spot {
    .external-rating-value {
      background: #fad1fb;
    }
    .rating-logo {
      background: #f7c626;
    }
  }
}

img.round {
  border-radius: 50%;
}

.scroll-panel {
  height: auto;
  min-height: auto;
  justify-content: flex-start;
  padding: 0;
  width: 100vw;

  .list {
    padding: 30px 0;
    /* width: 100vw; */
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    /* padding-bottom: 16px; */
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;

    .item {
      border: 1px solid #e3e3e3;
      padding: 5px;
      text-align: left;
      background-color: #fff;
      box-sizing: border-box;
      margin-right: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      width: 130px;
    }

    .more {
      width: auto;
      padding-left: 20px;
      padding-right: 40px;
      display: flex;
      align-items: center;
    }


  }
}

p, .p {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  word-wrap: break-word;
}

.b {
  font-weight: bold;
  color: #000;
}

.small {
  font-size: 1rem;
}
.subtitles {
  .b{
    margin-right: 5px;
  }
  li{
    list-style-type: none;
    list-style-position: inside;
  }
}

.video{
.fa-play-circle-o{
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 4rem;
}}
