<section class="hidden"
         data-controller="announcement"
         data-id="hiring"
>
  <div id=notification-alert>
    <div class="container d-none d-sm-block pt-2">
      <div class="flexx align-items-center flex-wrap">
        <div class="text--grey">
          <p class="m-0" style="font-weight: bold">
            We are hiring!
          </p>

          <p class="m-0">
            Join us in building the next version of Quran.com.
          </p>
        </div>

        <div>
          <a class="btn btn-primary mr-2 cta"
             data-controller="track"
             data-name="jobs"
             href="https://www.notion.so/QDC-Job-Board-a4478217b79c465ea1d6670ae4e0d645"
             target="_blank"
             data-category="apply">
            View positions
          </a>

          <a class="close text--grey cursor-pointer"
             data-controller="track"
             data-name="jobs"
             style="cursor: pointer"
             data-category="dismiss">
            Dismiss
          </a>
        </div>
      </div>
    </div>

    <div class="container d-block d-sm-none">
      <div class="row">
        <div class="col-12">
          <div class="flexx flexx-center">
            <div style="font-weight: bold">
              We are hiring!
            </div>

            <div style="margin-left: auto">
              <a class="btn btn-primary mr-1 cta"
                 data-controller="track"
                 href="https://www.notion.so/QDC-Job-Board-a4478217b79c465ea1d6670ae4e0d645"
                 target="_blank"
              >
                View positions
              </a>

              <a class="btn close text--grey cursor-pointer"
                 data-controller="track"
                 data-name="jobs"
                 style="cursor: pointer">
                Dismiss
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
