<% beta_url = url_for(host: 'https://beta.quran.com') %>

<section class="d-none border-bottom"
         data-controller="percentage-show"
         data-percentage=100
         data-id="new-site"
>
  <div id=notification-alert>
    <div class="container d-none d-sm-block pt-2">
      <div class="flexx align-items-center flex-wrap">
        <div class="text--grey">
          <p class="m-0" style="font-weight: bold">
            Try the New Website!
          </p>

          <p class="m-0">
            Get an early preview and share with us your feedback.
          </p>
        </div>

        <div>
          <a class="btn btn-primary mr-2 cta"
             data-controller="track" data-name="Clicked" data-action="Clicked" data-category="next.quran.com"
             href="<%= beta_url %>"
             data-category="apply">
            Visit website
          </a>

          <a class="close text--grey cursor-pointer"
             data-controller="track"
             data-name="jobs"
             style="cursor: pointer"
             data-category="dismiss">
            Dismiss
          </a>
        </div>
      </div>
    </div>

    <div class="container d-block d-sm-none">
      <div class="row">
        <div class="col-12">
          <div>
            <p style="font-weight: bold" class="mb-0">
              Try the New Website!
            </p>

            <p>
              Get an early preview and share with us your feedback.
            </p>
          </div>
          <div class="flexx">
            <a class="btn close text--grey cursor-pointer"
               data-controller="track"
               data-name="jobs"
               style="cursor: pointer">
              Dismiss
            </a>
            <a class="btn btn-primary mr-1 cta"
               data-controller="track" data-name="Clicked" data-action="Clicked" data-category="next.quran.com"
               href="<%= beta_url %>"
            >
              Visit website
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
