<section class="row" data-controller="donation">
  <div class="col-12">
    <div id=notification-alert class="flexx align-items-center">
      <div class="flexx align-items-center">
        <div class="d-none d-sm-block">
          <div class="flexx align-items-center text--grey">
            <span class="quran-icon icon-exclamation-triangle text--green mr-2"></span>
            <div>
              <h3 class="m-0">
                Join us in building te next version of Quran.com
              </h3>

              <p class="m-0">
                Join us in building the next version of Quran.com. Your support will accelerate the roadmap of new
                features
                by
                7x!
              </p>
            </div>
          </div>
          <p class="text--green" style="margin-left: 2rem">
            ✔ Monthly transparency reports
          </p>
        </div>

        <div class="d-block d-sm-none">
          <strong>
            Ramadan Campaign
          </strong> now Live!
        </div>
      </div>

      <div class="mr-2">
        <a class="btn btn--lightgrey btn--large"
           data-controller="track"
           data-name="donation"
           data-category="learn-more-notification"
           href="/surah-al-mulk">
          Learn more
        </a>

        <a class="btn btn-outline-primary btn--large"
           data-controller="track"
           data-name="donation"
           data-category="donate-notification"
           href="/surah-al-mulk">
          Become a donor
        </a>

        <a class="close text--grey cursor-pointer"
           data-controller="track"
           data-name="donation"
           style="cursor: pointer"
           data-category="dismiss-notification">
          Dismiss
        </a>
      </div>
    </div>
  </div>
</section>
