<section
  id="sidebar-alert"
  class="mt-3 py-3"
  data-id="donation-sidebar">
  <h5 class="flexx align-items-center">
            <span>
              Join us in building the next version of Quran.com
            </span>

    <i class="quran-icon icon-exclamation-triangle"></i>
  </h5>

  <p class="text text--medium">
    Your support will accelerate the roadmap of new features by 7x
    and make Quran.com an open-source and un-biased source for Quranic study.
  </p>

  <p class="flexx justify-content-end mt-4">
    <a class="learn-more btn--large"
       data-controller="track"
       data-name="donation"
       data-category="learn-more-sidebar"
       target="_blank"
       rel="noreferrer noopener"
       href="https://donate.quran.com/">
      Learn more
    </a>

    <button class="btn btn-outline-primary btn--large"
            data-controller="track donation"
            data-name="donation"
            data-category="donate-sidebar">
      Become a donor
    </button>
  </p>
</section>
<!-- donations script -->
<script>(function(gi,vi,n,g,l,oo,p){gi[l]=gi[l]||function(){(gi[l].q=gi[l].q||[]).push(arguments);gi.glObjName=l;},oo=vi.createElement(n),p=vi.getElementsByTagName(n)[0];oo.async=1;oo.src=g;oo.dataset.orgId=1728;p.parentNode.insertBefore(oo,p);oo.id="gl-donation-popup-script";})(window,document,"script","https://www.givingloop.org/js?"+ Array(1).fill(null).map(()=>Math.random().toString(20).substr(2)).join(""),"givingloop");</script>
