<section id="sidebar-alert" class="mt-3 py-3 hidden" data-controller="announcement" data-id="donation-sidebar">
  <h5 class="flexx align-items-center">
            <span>
              Join us in building te next version of Quran.com
            </span>

    <i class="quran-icon icon-exclamation-triangle"></i>
  </h5>

  <p class="text text--medium">
    Your support will help accelerate the roadmap of new features by 7x and keep Quran.com an open-source and
    un-biased source for Quranic study.
  </p>

  <p class="flexx align-items-center mt-4">
    <a class="btn btn--lightgrey btn--large"
       data-controller="track"
       data-name="donation"
       data-category="learn-more-sidebar"
       target="_blank"
       href="https://quranfund.com/">
      Learn more
    </a>

    <a class="btn btn-outline-primary btn--large"
       data-controller="track"
       data-name="donation"
       data-category="donate-sidebar"
       href="/surah-al-mulk">
      Become a donor
    </a>
  </p>
</section>
