.fa-discourse {
  &:before {
    content: $fa-discourse;
  }
}
.fa-facebook {
  &:before {
    content: $fa-facebook;
  }
}
.fa-messenger {
  &:before {
    content: $fa-messenger;
  }
}
.fa-get-pocket {
  &:before {
    content: $fa-get-pocket;
  }
}
.fa-line {
  &:before {
    content: $fa-line;
  }
}
.fa-linkedin {
  &:before {
    content: $fa-linkedin;
  }
}
.fa-pinterest {
  &:before {
    content: $fa-pinterest;
  }
}
.fa-reddit {
  &:before {
    content: $fa-reddit;
  }
}
.fa-skype {
  &:before {
    content: $fa-skype;
  }
}
.fa-slack {
  &:before {
    content: $fa-slack;
  }
}
.fa-stumbleupon {
  &:before {
    content: $fa-stumbleupon;
  }
}
.fa-telegram {
  &:before {
    content: $fa-telegram;
  }
}
.fa-twitch {
  &:before {
    content: $fa-twitch;
  }
}
.fa-twitter {
  &:before {
    content: $fa-twitter;
  }
}
.fa-viber {
  &:before {
    content: $fa-viber;
  }
}
.fa-vk {
  &:before {
    content: $fa-vk;
  }
}
.fa-weibo {
  &:before {
    content: $fa-weibo;
  }
}
.fa-whatsapp {
  &:before {
    content: $fa-whatsapp;
  }
}
.fa-moon-stroke {
  &:before {
    content: $fa-moon-stroke;
  }
}
.fa-format-text-size {
  &:before {
    content: $fa-format-text-size;
  }
}
.fa-archive {
  &:before {
    content: $fa-archive;
  }
}
.fa-book1 {
  &:before {
    content: $fa-book1;
  }
}
.fa-close-solid {
  &:before {
    content: $fa-close-solid;
  }
}
.fa-close-outline {
  &:before {
    content: $fa-close-outline;
  }
}
.fa-circle-with-cross {
  &:before {
    content: $fa-circle-with-cross;
  }
}
.fa-cancel {
  &:before {
    content: $fa-cancel;
  }
}
.fa-sun {
  &:before {
    content: $fa-sun;
  }
}
.fa-clock {
  &:before {
    content: $fa-clock;
  }
}
.fa-lock {
  &:before {
    content: $fa-lock;
  }
}
.fa-print {
  &:before {
    content: $fa-print;
  }
}
.fa-step-backward {
  &:before {
    content: $fa-step-backward;
  }
}
.fa-play {
  &:before {
    content: $fa-play;
  }
}
.fa-pause {
  &:before {
    content: $fa-pause;
  }
}
.fa-pause-solid {
  &:before {
    content: $fa-pause-solid;
  }
}
.fa-play-solid {
  &:before {
    content: $fa-play-solid;
  }
}
.fa-fast-forward1 {
  &:before {
    content: $fa-fast-forward1;
  }
}
.fa-step-forward {
  &:before {
    content: $fa-step-forward;
  }
}
.fa-gift {
  &:before {
    content: $fa-gift;
  }
}
.fa-random {
  &:before {
    content: $fa-random;
  }
}
.fa-thumbtack {
  &:before {
    content: $fa-thumbtack;
  }
}
.fa-thumbtack1 {
  &:before {
    content: $fa-thumbtack1;
  }
}
.fa-play-circle {
  &:before {
    content: $fa-play-circle;
  }
}
.fa-play-circle1 {
  &:before {
    content: $fa-play-circle1;
  }
}
.fa-sort-amount-down {
  &:before {
    content: $fa-sort-amount-down;
  }
}
.fa-sort-amount-up {
  &:before {
    content: $fa-sort-amount-up;
  }
}
.fa-youtube {
  &:before {
    content: $fa-youtube;
  }
}
.fa-pause-circle1 {
  &:before {
    content: $fa-pause-circle1;
  }
}
.fa-google-play {
  &:before {
    content: $fa-google-play;
  }
}
.fa-mobile-alt {
  &:before {
    content: $fa-mobile-alt;
  }
}
.fa-hand-holding-box {
  &:before {
    content: $fa-hand-holding-box;
  }
}
.fa-hand-receiving {
  &:before {
    content: $fa-hand-receiving;
  }
}
.fa-address-book {
  &:before {
    content: $fa-address-book;
  }
}
.fa-alarm-clock {
  &:before {
    content: $fa-alarm-clock;
  }
}
.fa-align-center {
  &:before {
    content: $fa-align-center;
  }
}
.fa-align-justify {
  &:before {
    content: $fa-align-justify;
  }
}
.fa-align-left {
  &:before {
    content: $fa-align-left;
  }
}
.fa-align-right {
  &:before {
    content: $fa-align-right;
  }
}
.fa-angle-double-down {
  &:before {
    content: $fa-angle-double-down;
  }
}
.fa-angle-down {
  &:before {
    content: $fa-angle-down;
  }
}
.fa-angle-left {
  &:before {
    content: $fa-angle-left;
  }
}
.fa-angle-right {
  &:before {
    content: $fa-angle-right;
  }
}
.fa-angle-up {
  &:before {
    content: $fa-angle-up;
  }
}
.fa-arrow-alt-from-right {
  &:before {
    content: $fa-arrow-alt-from-right;
  }
}
.fa-arrow-circle-down {
  &:before {
    content: $fa-arrow-circle-down;
  }
}
.fa-arrow-circle-left {
  &:before {
    content: $fa-arrow-circle-left;
  }
}
.fa-arrow-circle-right {
  &:before {
    content: $fa-arrow-circle-right;
  }
}
.fa-arrow-circle-up {
  &:before {
    content: $fa-arrow-circle-up;
  }
}
.fa-arrow-from-left {
  &:before {
    content: $fa-arrow-from-left;
  }
}
.fa-arrow-from-right {
  &:before {
    content: $fa-arrow-from-right;
  }
}
.fa-backward {
  &:before {
    content: $fa-backward;
  }
}
.fa-bars {
  &:before {
    content: $fa-bars;
  }
}
.fa-bell {
  &:before {
    content: $fa-bell;
  }
}
.fa-book {
  &:before {
    content: $fa-book;
  }
}
.fa-bookmark {
  &:before {
    content: $fa-bookmark;
  }
}
.fa-boxes {
  &:before {
    content: $fa-boxes;
  }
}
.fa-bug {
  &:before {
    content: $fa-bug;
  }
}
.fa-bullhorn {
  &:before {
    content: $fa-bullhorn;
  }
}
.fa-calendar-alt {
  &:before {
    content: $fa-calendar-alt;
  }
}
.fa-calendar-check {
  &:before {
    content: $fa-calendar-check;
  }
}
.fa-calendar-edit {
  &:before {
    content: $fa-calendar-edit;
  }
}
.fa-chart-area {
  &:before {
    content: $fa-chart-area;
  }
}
.fa-check-circle {
  &:before {
    content: $fa-check-circle;
  }
}
.fa-check-square {
  &:before {
    content: $fa-check-square;
  }
}
.fa-check {
  &:before {
    content: $fa-check;
  }
}
.fa-chevron-circle-down {
  &:before {
    content: $fa-chevron-circle-down;
  }
}
.fa-chevron-circle-left {
  &:before {
    content: $fa-chevron-circle-left;
  }
}
.fa-chevron-circle-right {
  &:before {
    content: $fa-chevron-circle-right;
  }
}
.fa-chevron-circle-up {
  &:before {
    content: $fa-chevron-circle-up;
  }
}
.fa-chevron-double-down {
  &:before {
    content: $fa-chevron-double-down;
  }
}
.fa-chevron-double-left {
  &:before {
    content: $fa-chevron-double-left;
  }
}
.fa-chevron-double-right {
  &:before {
    content: $fa-chevron-double-right;
  }
}
.fa-chevron-double-up {
  &:before {
    content: $fa-chevron-double-up;
  }
}
.fa-chevron-down {
  &:before {
    content: $fa-chevron-down;
  }
}
.fa-chevron-left {
  &:before {
    content: $fa-chevron-left;
  }
}
.fa-chevron-right {
  &:before {
    content: $fa-chevron-right;
  }
}
.fa-chevron-square-down {
  &:before {
    content: $fa-chevron-square-down;
  }
}
.fa-chevron-square-left {
  &:before {
    content: $fa-chevron-square-left;
  }
}
.fa-chevron-square-right {
  &:before {
    content: $fa-chevron-square-right;
  }
}
.fa-chevron-square-up {
  &:before {
    content: $fa-chevron-square-up;
  }
}
.fa-clipboard-check {
  &:before {
    content: $fa-clipboard-check;
  }
}
.fa-clipboard-list {
  &:before {
    content: $fa-clipboard-list;
  }
}
.fa-clipboard {
  &:before {
    content: $fa-clipboard;
  }
}
.fa-clone {
  &:before {
    content: $fa-clone;
  }
}
.fa-code {
  &:before {
    content: $fa-code;
  }
}
.fa-cog {
  &:before {
    content: $fa-cog;
  }
}
.fa-cogs {
  &:before {
    content: $fa-cogs;
  }
}
.fa-columns {
  &:before {
    content: $fa-columns;
  }
}
.fa-comment-alt {
  &:before {
    content: $fa-comment-alt;
  }
}
.fa-comment {
  &:before {
    content: $fa-comment;
  }
}
.fa-comments {
  &:before {
    content: $fa-comments;
  }
}
.fa-copy {
  &:before {
    content: $fa-copy;
  }
}
.fa-desktop-alt {
  &:before {
    content: $fa-desktop-alt;
  }
}
.fa-ellipsis-h {
  &:before {
    content: $fa-ellipsis-h;
  }
}
.fa-ellipsis-v-alt {
  &:before {
    content: $fa-ellipsis-v-alt;
  }
}
.fa-ellipsis-v {
  &:before {
    content: $fa-ellipsis-v;
  }
}
.fa-envelope {
  &:before {
    content: $fa-envelope;
  }
}
.fa-external-link-alt {
  &:before {
    content: $fa-external-link-alt;
  }
}
.fa-fast-backward {
  &:before {
    content: $fa-fast-backward;
  }
}
.fa-fast-forward {
  &:before {
    content: $fa-fast-forward;
  }
}
.fa-file-code {
  &:before {
    content: $fa-file-code;
  }
}
.fa-file-pdf {
  &:before {
    content: $fa-file-pdf;
  }
}
.fa-gift1 {
  &:before {
    content: $fa-gift1;
  }
}
.fa-home {
  &:before {
    content: $fa-home;
  }
}
.fa-images {
  &:before {
    content: $fa-images;
  }
}
.fa-inbox-in {
  &:before {
    content: $fa-inbox-in;
  }
}
.fa-info-circle {
  &:before {
    content: $fa-info-circle;
  }
}
.fa-lightbulb {
  &:before {
    content: $fa-lightbulb;
  }
}
.fa-link {
  &:before {
    content: $fa-link;
  }
}
.fa-microphone-alt {
  &:before {
    content: $fa-microphone-alt;
  }
}
.fa-mobile-android {
  &:before {
    content: $fa-mobile-android;
  }
}
.fa-pause-circle {
  &:before {
    content: $fa-pause-circle;
  }
}
.fa-question-circle {
  &:before {
    content: $fa-question-circle;
  }
}
.fa-question {
  &:before {
    content: $fa-question;
  }
}
.fa-quote-left {
  &:before {
    content: $fa-quote-left;
  }
}
.fa-quote-right {
  &:before {
    content: $fa-quote-right;
  }
}
.fa-repeat-1 {
  &:before {
    content: $fa-repeat-1;
  }
}
.fa-repeat {
  &:before {
    content: $fa-repeat;
  }
}
.fa-retweet {
  &:before {
    content: $fa-retweet;
  }
}
.fa-search-minus {
  &:before {
    content: $fa-search-minus;
  }
}
.fa-search-plus {
  &:before {
    content: $fa-search-plus;
  }
}
.fa-search {
  &:before {
    content: $fa-search;
  }
}
.fa-share-all {
  &:before {
    content: $fa-share-all;
  }
}
.fa-share-alt {
  &:before {
    content: $fa-share-alt;
  }
}
.fa-sign-out-alt {
  &:before {
    content: $fa-sign-out-alt;
  }
}
.fa-sign-out {
  &:before {
    content: $fa-sign-out;
  }
}
.fa-sort-amount-down1 {
  &:before {
    content: $fa-sort-amount-down1;
  }
}
.fa-sort-amount-up1 {
  &:before {
    content: $fa-sort-amount-up1;
  }
}
.fa-sort-down {
  &:before {
    content: $fa-sort-down;
  }
}
.fa-spinner-third {
  &:before {
    content: $fa-spinner-third;
  }
}
.fa-spinner {
  &:before {
    content: $fa-spinner;
  }
}
.fa-text-height {
  &:before {
    content: $fa-text-height;
  }
}
.fa-text-width {
  &:before {
    content: $fa-text-width;
  }
}
.fa-times-circle {
  &:before {
    content: $fa-times-circle;
  }
}
.fa-times {
  &:before {
    content: $fa-times;
  }
}
.fa-video {
  &:before {
    content: $fa-video;
  }
}
.fa-home1 {
  &:before {
    content: $fa-home1;
  }
}
.fa-lightbulb1 {
  &:before {
    content: $fa-lightbulb1;
  }
}
.fa-spinner1 {
  &:before {
    content: $fa-spinner1;
  }
}
.fa-step-backward1 {
  &:before {
    content: $fa-step-backward1;
  }
}
.fa-step-forward1 {
  &:before {
    content: $fa-step-forward1;
  }
}
.fa-spinner2 {
  &:before {
    content: $fa-spinner2;
  }
}
