.fa-circle-with-cross {
  &:before {
    content: $fa-circle-with-cross;
  }
}
.fa-close-solid {
  &:before {
    content: $fa-close-solid;
  }
}
.fa-close-outline {
  &:before {
    content: $fa-close-outline;
  }
}
.fa-format-text-size {
  &:before {
    content: $fa-format-text-size;
  }
}
.fa-home {
  &:before {
    content: $fa-home;
  }
}
.fa-info-circle1 {
  &:before {
    content: $fa-info-circle1;
  }
}
.fa-mobile-alt {
  &:before {
    content: $fa-mobile-alt;
  }
}
.fa-pause-circle1 {
  &:before {
    content: $fa-pause-circle1;
  }
}
.fa-pause1 {
  &:before {
    content: $fa-pause1;
  }
}
.fa-play-circle1 {
  &:before {
    content: $fa-play-circle1;
  }
}
.fa-play1 {
  &:before {
    content: $fa-play1;
  }
}
.fa-question-circle1 {
  &:before {
    content: $fa-question-circle1;
  }
}
.fa-terminal {
  &:before {
    content: $fa-terminal;
  }
}
.fa-book1 {
  &:before {
    content: $fa-book1;
  }
}
.fa-caret-up1 {
  &:before {
    content: $fa-caret-up1;
  }
}
.fa-code {
  &:before {
    content: $fa-code;
  }
}
.fa-mobile-android {
  &:before {
    content: $fa-mobile-android;
  }
}
.fa-music {
  &:before {
    content: $fa-music;
  }
}
.fa-pause-circle {
  &:before {
    content: $fa-pause-circle;
  }
}
.fa-pause {
  &:before {
    content: $fa-pause;
  }
}
.fa-play-circle {
  &:before {
    content: $fa-play-circle;
  }
}
.fa-play {
  &:before {
    content: $fa-play;
  }
}
.fa-app-store-ios {
  &:before {
    content: $fa-app-store-ios;
  }
}
.fa-discourse {
  &:before {
    content: $fa-discourse;
  }
}
.fa-facebook-square {
  &:before {
    content: $fa-facebook-square;
  }
}
.fa-github-square {
  &:before {
    content: $fa-github-square;
  }
}
.fa-google-play {
  &:before {
    content: $fa-google-play;
  }
}
.fa-twitter {
  &:before {
    content: $fa-twitter;
  }
}
.fa-youtube {
  &:before {
    content: $fa-youtube;
  }
}
.fa-alarm-clock {
  &:before {
    content: $fa-alarm-clock;
  }
}
.fa-angle-double-right {
  &:before {
    content: $fa-angle-double-right;
  }
}
.fa-angle-double-up {
  &:before {
    content: $fa-angle-double-up;
  }
}
.fa-angle-down {
  &:before {
    content: $fa-angle-down;
  }
}
.fa-angle-left {
  &:before {
    content: $fa-angle-left;
  }
}
.fa-angle-right {
  &:before {
    content: $fa-angle-right;
  }
}
.fa-angle-up {
  &:before {
    content: $fa-angle-up;
  }
}
.fa-backward {
  &:before {
    content: $fa-backward;
  }
}
.fa-bars {
  &:before {
    content: $fa-bars;
  }
}
.fa-calendar-alt {
  &:before {
    content: $fa-calendar-alt;
  }
}
.fa-calendar-check {
  &:before {
    content: $fa-calendar-check;
  }
}
.fa-calendar-edit {
  &:before {
    content: $fa-calendar-edit;
  }
}
.fa-caret-circle-right {
  &:before {
    content: $fa-caret-circle-right;
  }
}
.fa-caret-left {
  &:before {
    content: $fa-caret-left;
  }
}
.fa-caret-right {
  &:before {
    content: $fa-caret-right;
  }
}
.fa-caret-up {
  &:before {
    content: $fa-caret-up;
  }
}
.fa-chevron-down {
  &:before {
    content: $fa-chevron-down;
  }
}
.fa-clipboard-check {
  &:before {
    content: $fa-clipboard-check;
  }
}
.fa-clipboard-list {
  &:before {
    content: $fa-clipboard-list;
  }
}
.fa-clock {
  &:before {
    content: $fa-clock;
  }
}
.fa-columns {
  &:before {
    content: $fa-columns;
  }
}
.fa-copy {
  &:before {
    content: $fa-copy;
  }
}
.fa-ellipsis-h-alt {
  &:before {
    content: $fa-ellipsis-h-alt;
  }
}
.fa-ellipsis-h {
  &:before {
    content: $fa-ellipsis-h;
  }
}
.fa-ellipsis-v-alt {
  &:before {
    content: $fa-ellipsis-v-alt;
  }
}
.fa-ellipsis-v {
  &:before {
    content: $fa-ellipsis-v;
  }
}
.fa-expand-alt {
  &:before {
    content: $fa-expand-alt;
  }
}
.fa-external-link-alt {
  &:before {
    content: $fa-external-link-alt;
  }
}
.fa-eye {
  &:before {
    content: $fa-eye;
  }
}
.fa-fast-backward {
  &:before {
    content: $fa-fast-backward;
  }
}
.fa-fast-forward {
  &:before {
    content: $fa-fast-forward;
  }
}
.fa-flag-checkered {
  &:before {
    content: $fa-flag-checkered;
  }
}
.fa-forward {
  &:before {
    content: $fa-forward;
  }
}
.fa-gift {
  &:before {
    content: $fa-gift;
  }
}
.fa-graduation-cap {
  &:before {
    content: $fa-graduation-cap;
  }
}
.fa-hand-holding-box {
  &:before {
    content: $fa-hand-holding-box;
  }
}
.fa-hand-point-down {
  &:before {
    content: $fa-hand-point-down;
  }
}
.fa-hand-point-left {
  &:before {
    content: $fa-hand-point-left;
  }
}
.fa-hand-point-right {
  &:before {
    content: $fa-hand-point-right;
  }
}
.fa-hand-point-up {
  &:before {
    content: $fa-hand-point-up;
  }
}
.fa-hand-receiving {
  &:before {
    content: $fa-hand-receiving;
  }
}
.fa-handshake {
  &:before {
    content: $fa-handshake;
  }
}
.fa-info-circle {
  &:before {
    content: $fa-info-circle;
  }
}
.fa-lightbulb {
  &:before {
    content: $fa-lightbulb;
  }
}
.fa-link {
  &:before {
    content: $fa-link;
  }
}
.fa-lock-alt {
  &:before {
    content: $fa-lock-alt;
  }
}
.fa-lock-open-alt {
  &:before {
    content: $fa-lock-open-alt;
  }
}
.fa-lock {
  &:before {
    content: $fa-lock;
  }
}
.fa-microphone-alt {
  &:before {
    content: $fa-microphone-alt;
  }
}
.fa-microphone {
  &:before {
    content: $fa-microphone;
  }
}
.fa-minus-circle {
  &:before {
    content: $fa-minus-circle;
  }
}
.fa-paperclip {
  &:before {
    content: $fa-paperclip;
  }
}
.fa-pennant {
  &:before {
    content: $fa-pennant;
  }
}
.fa-plus-circle {
  &:before {
    content: $fa-plus-circle;
  }
}
.fa-print {
  &:before {
    content: $fa-print;
  }
}
.fa-question-circle {
  &:before {
    content: $fa-question-circle;
  }
}
.fa-quote-left {
  &:before {
    content: $fa-quote-left;
  }
}
.fa-quote-right {
  &:before {
    content: $fa-quote-right;
  }
}
.fa-random {
  &:before {
    content: $fa-random;
  }
}
.fa-repeat-1 {
  &:before {
    content: $fa-repeat-1;
  }
}
.fa-repeat {
  &:before {
    content: $fa-repeat;
  }
}
.fa-search-minus {
  &:before {
    content: $fa-search-minus;
  }
}
.fa-search-plus {
  &:before {
    content: $fa-search-plus;
  }
}
.fa-search {
  &:before {
    content: $fa-search;
  }
}
.fa-share-alt {
  &:before {
    content: $fa-share-alt;
  }
}
.fa-share-square {
  &:before {
    content: $fa-share-square;
  }
}
.fa-sign-out-alt {
  &:before {
    content: $fa-sign-out-alt;
  }
}
.fa-sliders-v {
  &:before {
    content: $fa-sliders-v;
  }
}
.fa-sort-amount-down {
  &:before {
    content: $fa-sort-amount-down;
  }
}
.fa-sort-amount-up {
  &:before {
    content: $fa-sort-amount-up;
  }
}
.fa-sort-down {
  &:before {
    content: $fa-sort-down;
  }
}
.fa-step-backward {
  &:before {
    content: $fa-step-backward;
  }
}
.fa-step-forward {
  &:before {
    content: $fa-step-forward;
  }
}
.fa-sticky-note {
  &:before {
    content: $fa-sticky-note;
  }
}
.fa-sun1 {
  &:before {
    content: $fa-sun1;
  }
}
.fa-tasks {
  &:before {
    content: $fa-tasks;
  }
}
.fa-text-height {
  &:before {
    content: $fa-text-height;
  }
}
.fa-text-width {
  &:before {
    content: $fa-text-width;
  }
}
.fa-thumbs-down {
  &:before {
    content: $fa-thumbs-down;
  }
}
.fa-thumbs-up {
  &:before {
    content: $fa-thumbs-up;
  }
}
.fa-thumbtack {
  &:before {
    content: $fa-thumbtack;
  }
}
.fa-times-circle {
  &:before {
    content: $fa-times-circle;
  }
}
.fa-times {
  &:before {
    content: $fa-times;
  }
}
.fa-trash-alt {
  &:before {
    content: $fa-trash-alt;
  }
}
.fa-unlink {
  &:before {
    content: $fa-unlink;
  }
}
.fa-user-secret {
  &:before {
    content: $fa-user-secret;
  }
}
.fa-users {
  &:before {
    content: $fa-users;
  }
}
.fa-watch {
  &:before {
    content: $fa-watch;
  }
}
.fa-times-circle1 {
  &:before {
    content: $fa-times-circle1;
  }
}
.fa-lightbulb1 {
  &:before {
    content: $fa-lightbulb1;
  }
}
.fa-thumbtack1 {
  &:before {
    content: $fa-thumbtack1;
  }
}
.fa-cancel {
  &:before {
    content: $fa-cancel;
  }
}
.fa-money-bag {
  &:before {
    content: $fa-money-bag;
  }
}
.fa-sack-dollar {
  &:before {
    content: $fa-sack-dollar;
  }
}
.fa-bag {
  &:before {
    content: $fa-bag;
  }
}
.fa-archive {
  &:before {
    content: $fa-archive;
  }
}
.fa-book {
  &:before {
    content: $fa-book;
  }
}
.fa-reading {
  &:before {
    content: $fa-reading;
  }
}
.fa-moon-stroke {
  &:before {
    content: $fa-moon-stroke;
  }
}
.fa-sun {
  &:before {
    content: $fa-sun;
  }
}
