$fa-help: "\e902";
$fa-fb: "\f39e";
$fa-messenger: "\f39f";
$fa-pocket: "\f265";
$fa-line: "\f3c0";
$fa-pinterest: "\f231";
$fa-reddit: "\f281";
$fa-telegram: "\f3fe";
$fa-twitter: "\f099";
$fa-developer: "\e900";
$fa-bookmark: "\f02e";
$fa-caret-right: "\f0da";
$fa-pause-circle-solid: "\f28b";
$fa-play-circle: "\f144";
$fa-play-solid: "\f04b";
$fa-step-backward: "\f048";
$fa-step-forward: "\f051";
$fa-bars-regular: "\f0c9";
$fa-chevron-right: "\f054";
$fa-link-regular: "\f0c1";
$fa-pause-circle-regular: "\f28c";
$fa-play-circle-regular: "\f145";
$fa-play-regular: "\f04c";
$fa-repeat-regular: "\f363";
$fa-unlink-regular: "\f127";
$fa-bars-light: "\f0ca";
$fa-bookmark1: "\f02f";
$fa-clipboard-list: "\f46d";
$fa-cog: "\f013";
$fa-cogs: "\f085";
$fa-copy: "\f0c5";
$fa-edit: "\f044";
$fa-ellipsis-h: "\f141";
$fa-ellipsis-v-alt: "\f39c";
$fa-ellipsis-v: "\f142";
$fa-envelope: "\f0e0";
$fa-external-link-alt: "\f35d";
$fa-home: "\f015";
$fa-info-circle: "\f05a";
$fa-link-light: "\f0c2";
$fa-microphone: "\f130";
$fa-minus-circle: "\f056";
$fa-mobile: "\f3ce";
$fa-music: "\f001";
$fa-pause-circle-light: "\f28d";
$fa-play-circle-light: "\f146";
$fa-play-light: "\f04d";
$fa-plus-circle: "\f055";
$fa-print: "\f030";
$fa-repeat-light: "\f364";
$fa-search: "\f002";
$fa-share-alt: "\f1e0";
$fa-share-square: "\f14d";
$fa-tag: "\f02b";
$fa-tags: "\f02c";
$fa-times-circle: "\f057";
$fa-times: "\f00d";
$fa-tv: "\f26c";
$fa-unlink-light: "\f128";
$fa-play: "\e901";
$fa-book: "\e905";
$fa-donate: "\e90c";
