$fa-discourse: "\f394";
$fa-facebook: "\f39e";
$fa-messenger: "\f39f";
$fa-get-pocket: "\f265";
$fa-line: "\f3c0";
$fa-linkedin: "\f0e1";
$fa-pinterest: "\f231";
$fa-reddit: "\f281";
$fa-skype: "\f17e";
$fa-slack: "\f198";
$fa-stumbleupon: "\f1a4";
$fa-telegram: "\f3fe";
$fa-twitch: "\f1e8";
$fa-twitter: "\f099";
$fa-viber: "\f409";
$fa-vk: "\f189";
$fa-weibo: "\f18a";
$fa-whatsapp: "\f232";
$fa-moon-stroke: "\e900";
$fa-format-text-size: "\e901";
$fa-archive: "\e902";
$fa-book1: "\e903";
$fa-close-solid: "\e905";
$fa-close-outline: "\e906";
$fa-circle-with-cross: "\e907";
$fa-cancel: "\e908";
$fa-sun: "\e9d4";
$fa-clock: "\f017";
$fa-lock: "\f023";
$fa-print: "\f02f";
$fa-step-backward: "\f048";
$fa-play: "\f04b";
$fa-pause: "\f04c";
$fa-pause-solid: "\f04e";
$fa-play-solid: "\f04f";
$fa-fast-forward1: "\f051";
$fa-step-forward: "\f052";
$fa-gift: "\f06b";
$fa-random: "\f074";
$fa-thumbtack: "\f08d";
$fa-thumbtack1: "\f08e";
$fa-play-circle: "\f144";
$fa-play-circle1: "\f145";
$fa-sort-amount-down: "\f160";
$fa-sort-amount-up: "\f161";
$fa-youtube: "\f167";
$fa-pause-circle1: "\f28c";
$fa-google-play: "\f3ab";
$fa-mobile-alt: "\f3cd";
$fa-hand-holding-box: "\f47b";
$fa-hand-receiving: "\f47c";
$fa-address-book: "\f2b9";
$fa-alarm-clock: "\f34e";
$fa-align-center: "\f037";
$fa-align-justify: "\f039";
$fa-align-left: "\f036";
$fa-align-right: "\f038";
$fa-angle-double-down: "\f103";
$fa-angle-down: "\f107";
$fa-angle-left: "\f104";
$fa-angle-right: "\f105";
$fa-angle-up: "\f106";
$fa-arrow-alt-from-right: "\f348";
$fa-arrow-circle-down: "\f0ab";
$fa-arrow-circle-left: "\f0a8";
$fa-arrow-circle-right: "\f0a9";
$fa-arrow-circle-up: "\f0aa";
$fa-arrow-from-left: "\f343";
$fa-arrow-from-right: "\f344";
$fa-backward: "\f04a";
$fa-bars: "\f0c9";
$fa-bell: "\f0f3";
$fa-book: "\f02d";
$fa-bookmark: "\f02e";
$fa-boxes: "\f468";
$fa-bug: "\f188";
$fa-bullhorn: "\f0a1";
$fa-calendar-alt: "\f073";
$fa-calendar-check: "\f274";
$fa-calendar-edit: "\f333";
$fa-chart-area: "\f1fe";
$fa-check-circle: "\f058";
$fa-check-square: "\f14a";
$fa-check: "\f00c";
$fa-chevron-circle-down: "\f13a";
$fa-chevron-circle-left: "\f137";
$fa-chevron-circle-right: "\f138";
$fa-chevron-circle-up: "\f139";
$fa-chevron-double-down: "\f322";
$fa-chevron-double-left: "\f323";
$fa-chevron-double-right: "\f324";
$fa-chevron-double-up: "\f325";
$fa-chevron-down: "\f078";
$fa-chevron-left: "\f053";
$fa-chevron-right: "\f054";
$fa-chevron-square-down: "\f329";
$fa-chevron-square-left: "\f32a";
$fa-chevron-square-right: "\f32b";
$fa-chevron-square-up: "\f32c";
$fa-clipboard-check: "\f46c";
$fa-clipboard-list: "\f46d";
$fa-clipboard: "\f328";
$fa-clone: "\f24d";
$fa-code: "\f121";
$fa-cog: "\f013";
$fa-cogs: "\f085";
$fa-columns: "\f0db";
$fa-comment-alt: "\f27a";
$fa-comment: "\f075";
$fa-comments: "\f086";
$fa-copy: "\f0c5";
$fa-desktop-alt: "\f390";
$fa-ellipsis-h: "\f141";
$fa-ellipsis-v-alt: "\f39c";
$fa-ellipsis-v: "\f142";
$fa-envelope: "\f0e0";
$fa-external-link-alt: "\f35d";
$fa-fast-backward: "\f049";
$fa-fast-forward: "\f050";
$fa-file-code: "\f1c9";
$fa-file-pdf: "\f1c1";
$fa-gift1: "\f06c";
$fa-home: "\f015";
$fa-images: "\f302";
$fa-inbox-in: "\f310";
$fa-info-circle: "\f05a";
$fa-lightbulb: "\f0eb";
$fa-link: "\f0c1";
$fa-microphone-alt: "\f3c9";
$fa-mobile-android: "\f3ce";
$fa-pause-circle: "\f28b";
$fa-question-circle: "\f059";
$fa-question: "\f128";
$fa-quote-left: "\f10d";
$fa-quote-right: "\f10e";
$fa-repeat-1: "\f365";
$fa-repeat: "\f363";
$fa-retweet: "\f079";
$fa-search-minus: "\f010";
$fa-search-plus: "\f00e";
$fa-search: "\f002";
$fa-share-all: "\f367";
$fa-share-alt: "\f1e0";
$fa-sign-out-alt: "\f2f5";
$fa-sign-out: "\f08b";
$fa-sort-amount-down1: "\f162";
$fa-sort-amount-up1: "\f163";
$fa-sort-down: "\f0dd";
$fa-spinner-third: "\f3f4";
$fa-spinner: "\f110";
$fa-text-height: "\f034";
$fa-text-width: "\f035";
$fa-times-circle: "\f057";
$fa-times: "\f00d";
$fa-video: "\f03d";
$fa-home1: "\f016";
$fa-lightbulb1: "\f0ec";
$fa-spinner1: "\f111";
$fa-step-backward1: "\f04d";
$fa-step-forward1: "\f055";
$fa-spinner2: "\e904";
