@import "variables";
@import "style";

@font-face {
  font-family: "icons";
  src: url("../../fonts/icons/fa.eot");
  src: url("../../fonts/icons/fa.eot#iefix") format("embedded-opentype"),
    //url("../../fonts/icons/fa.woff2") format("woff2"),
  url("../../fonts/icons/fa.woff") format("woff"),
  url("../../fonts/icons/fa.ttf") format("truetype"),
  url("../../fonts/icons/fa.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?38557362#icons') format('svg');
  }
}
*/

[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-2x {
  font-size: 2em;
}