.btn-outline-primary {
  display: inline-block;
  background: #e0f7fa;
  //font-family: $font-medium;
  border-radius: 50px;
  border: solid 1px #80deea;
  padding: 10px 35px;

  &:hover,
  &.active {
    background: $color-primary;
    color: $white !important;
  }
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
