body.night {
  background: #1d1f21;
  color: #9e9e9e;

  header,
  footer,
  .dropdown-menu,
  .footnote,
  .verse-highlight,
  .popover-header,
  .right-sidebar,
  .select2-dropdown {
    background: #32312c !important;
  }

  .select2-selection,
  .select2-search__field {
    background-color: #1d1f21 !important;

    &:focus {
      border-color: $color-primary !important;
    }
  }

  .verse .w,
  #bismillah,
  .ayah-number,
  .translation .txt {
    color: #fff !important;
  }

  .ayah-number {
    background: url("../../images/ayah-night.png") no-repeat !important;
  }

  .fa-lightbulb {
    color: #f9d71c !important;
  }

  .surah-actions,
  .info-heading,
  .popover-body {
    li a,
    li,
    h1 {
      color: lighten(#9e9e9e, 5%);
    }
    background: #2d2d2d !important;
  }

  .repeat-popover-content {
    .overlay {
      background-color: #2d2d2d;
    }
  }

  .popover {
    border-color: #2d2d2d;

    .arrow {
      &:before {
        border-top-color: lighten(#2d2d2d, 5%);
      }

      &:after {
        border-top-color: lighten(#2d2d2d, 5%);
      }
    }
  }
  #player {
    background: #2d2d2d;
  }

  .surah-actions {
    a.font-size {
      color: $color-primary;

      &:hover {
        color: #fff;
      }
    }
  }

  .search-form {
    border-color: white;
    input {
      background: #32312c;
      color: white;
    }
  }
  .top-section {
    .search-form input {
      background: #1c1f21;
    }
  }
  header,
  header.active {
    border-color: #2d2d2d;
  }

  // home page
  .chapter-list .items ul li {
    .name {
      color: #fff;
    }

    a {
      &:hover {
        // box-shadow: 0px 10px 35px 0 rgba(45, 45, 45, 1);
        box-shadow: 0px 10px 35px 0 rgba(38, 50, 56, 0.5);

        .name {
          color: $color-primary;
        }
      }
    }
  }

  .nav-tabs .nav-link {
    background: transparent !important;
  }
}
