header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  float: left;
  width: 100%;
  background: #fff;
  z-index: 100;
  padding: 10px 0 10px;
  border-bottom: 1px solid $color-border;

  &.active {
    border-bottom: 1px solid $color-border !important;
  }

  .logo {
    font-size: 30px;
    float: left;
  }

  .header-left {
    #local-switcher {
      float: left;
      margin: 13px 19px;

      .nav-link {
        font-family: $font-medium;
        font-size: 14px;
        color: #cfd8dc;
        padding: 0px;
        cursor: pointer;
      }

      .dropdown-menu {
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      }
    }
  }

  .head-center {
    width: 40%;
    margin: 0 auto 0 80px;

    .search-form {
      box-shadow: 0px 5px 15px 0 rgba(38, 50, 56, 0.05);
      margin: 0 auto 0px;

      form {
        padding: 6px 55px 6px 20px;
      }

      .form-control {
        height: 30px;
        font-size: 14px;
        padding: 0px;
      }

      button {
        top: 6px;
        right: 6px;
        padding: 3px 10px;
      }
    }
  }

  .download {
    padding: 10px 16px;
    margin-right: 40px;
    border: 0;
    font-size: 14px;
  }
}

.logo {
  font-family: $font-bold;
  color: $color-primary;

  span {
    font-family: $font-regular;
  }
}

@media (max-width: 610px) {
  .logo {
    font-size: 24px !important;
  }
  .head-center {
    .search-form {
      button {
        top: 9px !important;
        padding: 12px 12px !important;
      }

    }
  }
}

@media (max-width: 767px) {
  .header{
    position: absolute;
  }
  #local-switcher {
    margin: 7px 2px !important;
  }

  .logo {
    float: none !important;
    margin-left: -5px;
  }

  .head-center {
    width: 20% !important;
  }

  .download {
    /*TODO: use bootstrap responsive utility*/
    display: none !important;
  }

  .header-left {
    width: 100%;
    text-align: left;
  }

  .head-center {
    width: 80%;
    margin: 0px;

    .search-form form {
      padding: 0 !important;
    }
  }
}

.surah-actionas {
  min-height: 4rem;

  .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: 0.25rem;
    overflow: hidden;

    .navbar-nav {
      padding-bottom: 2rem;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }

  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: 1071; // over everything in bootstrap
  }

  .navbar-nav {
    .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;

      &.active,
      &:hover {
        color: $white;
        background-color: transparent;
      }

      &.active {
        font-weight: 600;
      }
    }
  }
}
