.hlt1,
.hlt10 {
  color: #2ca4ab;
}

.hlt2,
.hlt9 {
  color: #f1c40f;
}

.hlt3 {
  color: #9400a8;
}

.hlt4 {
  color: #c50f90;
}

.hlt5 {
  color: #e67e22;
}

.hlt6 {
  color: #f39c12;
}

.hlt7 {
  color: #2c82c9;
}

.hlt8 {
  color: #e61e22;
}

// Bridge translations has highlighted words for different kind of footnotes
.h {
  color: #fc575e;
}

.s {
  font-size: small;
}
