.uighur,
.uyghur,
.ur,
.urdu,
.persian,
.hebrew,
.pashto,
.arabic,
divehi,
.dhivehi {
  direction: rtl;
  text-align: right;
  line-height: normal;

  .alert-dismissible {
    .close {
      left: 0;
      right: auto;
    }
  }
}

.ur,
.urdu {
  font-family: nafees !important;
}

.divehi,
.dhivehi,
.maldivian {
  font-family: "divehi";
}

.indopak,
.text_indopak {
  font-family: "pdms";
  font-size: 25px;
}

.madani,
.text_uthmani_tajweed,
.text_imlaei,
.text_madani {
  font-family: me_quran;
}
