.h-scrolled-section {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  &::-webkit-scrollbar {
    display: none;
  }
}
