.search-result {
  width: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
  text-shadow: none;
  height: 300px;

  ul {
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0.2em 0 0;
    background: #fff;
    box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
    text-shadow: none;

    &:before {
      content: "";
      position: absolute;
      top: -0.23em;
      left: 1em;
      width: 0;
      height: 0;
      padding: 0.4em;
      background: #fff;
      border: inherit;
      border-right: 0;
      border-bottom: 0;
      transform: rotate(45deg);
    }
  }

  a {
    color: #2ca4ab;
    text-decoration: none;
    text-align: left;
  }

  .ayat {
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    line-height: 28px;
    padding-left: 10px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    width: 90%;
  }

  .link {
    position: absolute;
    right: 0;
    padding: 0.2em 10px 0.2em 70px;
    line-height: 28px;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 40%, #fff);
    z-index: 2;
    text-align: right;
  }

  b {
    word-wrap: break-word;
    white-space: nowrap;
    display: flex;
  }

  li {
    padding: 7.5px 10px;
    position: relative;
    cursor: pointer;
  }

  li:hover {
    background: linear-gradient(
      to right,
      rgba($color-primary, 0.8),
      white 90%,
      rgba(255, 255, 255, 1)
    );

    .ayat a {
      color: #fff;
    }
  }
}

.expanded-search {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute !important;
  width: 89%;
  right: 10%;
  display: none;
  top: 7px;

  #search-field {
    height: 2.625rem;
    line-height: normal;
    border-radius: 4px;
    background: 0 0;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 0.9375rem;
    padding: 0.38rem;
    border: 1px solid #00acc1;
    padding-left: 1rem;
    padding-right: 3rem;
    width: 100%;
    background: #fff;
  }

  .btn-search-close {
    position: absolute !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 5px;
    border-radius: 3px;
    color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0 auto auto;
    right: 10px;
    width: 26px;
    height: 26px;
    font-size: 1rem;
    background: #00acc1;

    i {
      &:before {
        padding: 9px 0px 0px 0px;
      }
    }
  }
}

.ayah-badge {
  @include badge-variant($primary-400);
  padding: 0.65em 1.1em;
  color: #fff !important;
}

.mobile-search {
  padding: 10px 10px 6px 7px;
  background: #00acc1;
  border-radius: 5px;
  color: white;
}

.search-form {
  width: 100%;
  max-width: 1067px;
  border-radius: 6px;
  box-shadow: 0px 10px 35px 0 rgba(38, 50, 56, 0.1);
  border: solid 1px #b0bec5;
  margin: 0 auto 58px;

  form {
    position: relative;
    padding: 6px 125px 6px 20px;

    .form-control {
      border: 0;
      color: #8b8b8b;
    }

    .search1 {
      position: absolute;
      color: #b0bec5;
      top: 23px;
      left: 7px;
    }

    button {
      position: absolute;
      background: $color-primary;
      font-family: $font-medium;
      font-size: 15px;
      color: #fff;
      border: 0;
      border-radius: 6px;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      padding: 10px 22px;
      top: 7px;
      right: 7px;

      .search2 {
        display: none;
        position: absolute;
        color: #ffffff;
        top: 12px;
        left: 9px;
      }
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b0bec5;
  font-family: $font-regular;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;

  &:focus {
    box-shadow: none;
  }
}

textarea.form-control {
  height: 130px;
  resize: none;
  padding: 10px 15px;
}

@media only screen and (max-width: 414px) {
  .search-form {
    form {
      .search1 {
        display: none;
      }

      button {
        padding: 17px 22px;
        top: 12px;
        right: 7px;

        .search2 {
          display: block !important;
          top: 6px !important;
          left: 4px !important;
          font-size: 10px !important;
        }
      }
    }
  }
}
