.share-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1em;
  border-radius: 27px;

  .fa:before{
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
  }

  &:hover {
    box-shadow: 0 1px 3px #999;
  }

  &.facebook {
    background: #4267b2;
  }

  &.twitter {
    background: #55acee;
  }

  &.pinterest {
    background: #cb2027;
  }

  &.telegram {
    background: #37aee2;
  }

  &.whatsapp {
    background: #2cb742;
  }

  &.reddit {
    background: #5f99cf;
  }

  &.get-pocket {
    background: #ef3f56;
  }

  &.envelope {
    background: #0b2e13;
    .fa:before{
      height: 53px;
    }
  }

  &.messenger {
    background: #2196f3;
  }

  &.line {
    background: #00b800;
  }

  .fa {
    color: #fff !important;
  }

  span {
    display: block;
    text-align: center;
  }
}
