$slider-width: 25rem;
$slider-animation: all 470ms cubic-bezier(0.34, 1.25, 0.3, 1) !default;

@mixin translate3d($x: 0, $y: 0, $z: 0) {
  -webkit-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

/* set base height for slider */
.slide-on-mobile {
  width: $slider-width;
}

/* SIDE PANELS */
.sidebar {
  @include translate3d(0, 0, 0);
  z-index: $cloud;
  position: absolute !important;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;

  transition: $slider-animation, visibility 0.2s;

  .sidebar-head {
    position: relative;
    border-bottom: 1px solid #eceff1;
    padding: 17px;

    .logo {
      font-size: 26px;
      margin-left: 0;
    }

    .close-sidebar {
      position: absolute;
      top: 42%;
      right: 25px;
      color: $color-primary;
      cursor: pointer;
    }
  }

  ul.main-menu {
    li a {
      display: block;
      font-size: 16px;
      color: #b0bec5;
      border-bottom: 1px solid #eceff1;
      padding: 10px 25px;

      &.active,
      &:focus,
      &:hover {
        background: $color-primary;
        color: #fff;
      }
      i {
        width: 15px;
        margin-right: 10px;
        &:before{
          height: 17px;
          vertical-align: middle;
          margin: 0px;
        }
      }
    }
  }
  .more-links {
    line-height: 28px;
    padding: 20px 25px;
  }
}

.sidebar-backdrop {
  background: transparent;
  transition: background 300ms;
}

.slide-left {
  //@include translate3d(-$slider-width, 0, 0); /* issue with translate 3d with padding */
  border-right: 1px solid rgba($color-secondary, 0.09);
  width: $slider-width;

  /* new solution */
  left: -$slider-width;

  &.open {
    left: 0;
    width: 15rem;
  }
}

.slide-right {
  //@include translate3d(calc(100vw), 0, 0);  /* issue with translate 3d with padding */
  border-left: 1px solid rgba($color-secondary, 0.09);
  right: -$slider-width;
   width: $slider-width;
  &.open {
    right: 0;
  }
  @media #{$phone} {
    width: 100%;
  }

  .close-sidebar {
    position: unset !important;
  }
}

/* place the backdrop right after these classes */
.slide-right.open,
.slide-left.open {
  & + .slide-backdrop {
    background: rgba($color-secondary, 0.5);
    position: absolute;
    z-index: $cloud - 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

// When sidebar is visible
body.disabled {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;

  .surah-actions {
    z-index: 1;
  }
}
