@font-face {
  font-family: 'icon-surah';
  src: url('../../fonts/surah_names/surah_names.woff2'),
  url('../../fonts/surah_names/surah_names.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/surah_names/surah_names.woff') format('woff'),
  url('../../fonts/surah_names/surah_names.ttf') format('truetype'),
  url('../../fonts/surah_names/surah_names.svg#surah_names') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-surah"], [class*=" icon-surah"] {
  font-family: 'icon-surah' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-surah-surah:before {
  content: "\e903";
}

$sura-glyphs: '904','905','906','907','908','90b','90c','90d','90e','90f','910','911','912','913','914','915','916','917','918','919','91a','91b','91c','91d','91e','91f','920','921','922','923','924','925','926','92e','92f','930','931','909','90a','927','928','929','92a','92b','92c','92d','932','902','933','934','935','936','937','938','939','93a','93b','93c','900','901','941','942','943','944','945','946','947','948','949','94a','94b','94c','94d','94e','94f','950','951','952','93d','93e','93f','940','953','954','955','956','957','958','959','95a','95b','95c','95d','95e','95f','960','961','962','963','964','965','966','967','968','969','96a','96b','96c','96d','96e','96f','970','971','972';

@for $i from 0 through 113 {

}

