.surah-actions {
  .lines-heights {
    line-height: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
      .navbar-nav {
        padding: 0.6rem !important;
      }
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
    @media (max-width: 767px) {
      ul {
        justify-content: unset;
      }
      li:nth-last-child(2),
      li:nth-last-child(1) {
        padding: 0px 3px 11px 3px;
      }
    }
  }
  #translation-dropdown {
    span.select2-container {
      width: 193px !important;
      height: 36px;
      display: block !important;
      overflow-y: hidden;
      border-radius: 6px !important;
      ul{
        margin-right: 27px;
        span.select2-selection__clear {
          left: 164px;
          position: absolute;
          margin-top: 7px;
          padding: 1px 1px 2px 7px;
          border-radius: 50%;
          height: 21px;
          background-color: #00acc1;
          width: 21px;
          color: white;
          margin-top: 12px;
          @media (max-width: 767px) {
            margin-top: 7px;
          }
        }
      }
    }
  }
}

#chapter-info {
  @media (max-width: 767px) {
    .alert-dismissible {
      padding: 0.6rem !important;
      .info-heading {
        position: relative;
        margin-top: 3rem;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-evenly;
        li:first-child {
          width: 100%;
        }
        li:last-child {
          position: absolute;
          right: 0.2rem;
          top: 0.2rem;
          a {
            padding: 0;
          }
        }
        li {
          text-align: center;
        }
      }
    }
  }
}
