@font-face {
  font-family: "icon-surah";
  src: url("../../fonts/surah_names/surah_names.woff2"),
    url("../../fonts/surah_names/surah_names.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/surah_names/surah_names.woff") format("woff"),
    url("../../fonts/surah_names/surah_names.ttf") format("truetype"),
    url("../../fonts/surah_names/surah_names.svg#surah_names") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-surah"],
[class*=" icon-surah"] {
  font-family: "icon-surah" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-surah-surah:before {
  content: "\e903";
}

.icon-surah1:before {
  content: "\E904";
}
.icon-surah2:before {
  content: "\E905";
}
.icon-surah3:before {
  content: "\E906";
}
.icon-surah4:before {
  content: "\E907";
}
.icon-surah5:before {
  content: "\E908";
}
.icon-surah6:before {
  content: "\E90b";
}
.icon-surah7:before {
  content: "\E90c";
}
.icon-surah8:before {
  content: "\E90d";
}
.icon-surah9:before {
  content: "\E90e";
}
.icon-surah10:before {
  content: "\E90f";
}
.icon-surah11:before {
  content: "\E910";
}
.icon-surah12:before {
  content: "\E911";
}
.icon-surah13:before {
  content: "\E912";
}
.icon-surah14:before {
  content: "\E913";
}
.icon-surah15:before {
  content: "\E914";
}
.icon-surah16:before {
  content: "\E915";
}
.icon-surah17:before {
  content: "\E916";
}
.icon-surah18:before {
  content: "\E917";
}
.icon-surah19:before {
  content: "\E918";
}
.icon-surah20:before {
  content: "\E919";
}
.icon-surah21:before {
  content: "\E91a";
}
.icon-surah22:before {
  content: "\E91b";
}
.icon-surah23:before {
  content: "\E91c";
}
.icon-surah24:before {
  content: "\E91d";
}
.icon-surah25:before {
  content: "\E91e";
}
.icon-surah26:before {
  content: "\E91f";
}
.icon-surah27:before {
  content: "\E920";
}
.icon-surah28:before {
  content: "\E921";
}
.icon-surah29:before {
  content: "\E922";
}
.icon-surah30:before {
  content: "\E923";
}
.icon-surah31:before {
  content: "\E924";
}
.icon-surah32:before {
  content: "\E925";
}
.icon-surah33:before {
  content: "\E926";
}
.icon-surah34:before {
  content: "\E92e";
}
.icon-surah35:before {
  content: "\E92f";
}
.icon-surah36:before {
  content: "\E930";
}
.icon-surah37:before {
  content: "\E931";
}
.icon-surah38:before {
  content: "\E909";
}
.icon-surah39:before {
  content: "\E90a";
}
.icon-surah40:before {
  content: "\E927";
}
.icon-surah41:before {
  content: "\E928";
}
.icon-surah42:before {
  content: "\E929";
}
.icon-surah43:before {
  content: "\E92a";
}
.icon-surah44:before {
  content: "\E92b";
}
.icon-surah45:before {
  content: "\E92c";
}
.icon-surah46:before {
  content: "\E92d";
}
.icon-surah47:before {
  content: "\E932";
}
.icon-surah48:before {
  content: "\E902";
}
.icon-surah49:before {
  content: "\E933";
}
.icon-surah50:before {
  content: "\E934";
}
.icon-surah51:before {
  content: "\E935";
}
.icon-surah52:before {
  content: "\E936";
}
.icon-surah53:before {
  content: "\E937";
}
.icon-surah54:before {
  content: "\E938";
}
.icon-surah55:before {
  content: "\E939";
}
.icon-surah56:before {
  content: "\E93a";
}
.icon-surah57:before {
  content: "\E93b";
}
.icon-surah58:before {
  content: "\E93c";
}
.icon-surah59:before {
  content: "\E900";
}
.icon-surah60:before {
  content: "\E901";
}
.icon-surah61:before {
  content: "\E941";
}
.icon-surah62:before {
  content: "\E942";
}
.icon-surah63:before {
  content: "\E943";
}
.icon-surah64:before {
  content: "\E944";
}
.icon-surah65:before {
  content: "\E945";
}
.icon-surah66:before {
  content: "\E946";
}
.icon-surah67:before {
  content: "\E947";
}
.icon-surah68:before {
  content: "\E948";
}
.icon-surah69:before {
  content: "\E949";
}
.icon-surah70:before {
  content: "\E94a";
}
.icon-surah71:before {
  content: "\E94b";
}
.icon-surah72:before {
  content: "\E94c";
}
.icon-surah73:before {
  content: "\E94d";
}
.icon-surah74:before {
  content: "\E94e";
}
.icon-surah75:before {
  content: "\E94f";
}
.icon-surah76:before {
  content: "\E950";
}
.icon-surah77:before {
  content: "\E951";
}
.icon-surah78:before {
  content: "\E952";
}
.icon-surah79:before {
  content: "\E93d";
}
.icon-surah80:before {
  content: "\E93e";
}
.icon-surah81:before {
  content: "\E93f";
}
.icon-surah82:before {
  content: "\E940";
}
.icon-surah83:before {
  content: "\E953";
}
.icon-surah84:before {
  content: "\E954";
}
.icon-surah85:before {
  content: "\E955";
}
.icon-surah86:before {
  content: "\E956";
}
.icon-surah87:before {
  content: "\E957";
}
.icon-surah88:before {
  content: "\E958";
}
.icon-surah89:before {
  content: "\E959";
}
.icon-surah90:before {
  content: "\E95a";
}
.icon-surah91:before {
  content: "\E95b";
}
.icon-surah92:before {
  content: "\E95c";
}
.icon-surah93:before {
  content: "\E95d";
}
.icon-surah94:before {
  content: "\E95e";
}
.icon-surah95:before {
  content: "\E95f";
}
.icon-surah96:before {
  content: "\E960";
}
.icon-surah97:before {
  content: "\E961";
}
.icon-surah98:before {
  content: "\E962";
}
.icon-surah99:before {
  content: "\E963";
}
.icon-surah100:before {
  content: "\E964";
}
.icon-surah101:before {
  content: "\E965";
}
.icon-surah102:before {
  content: "\E966";
}
.icon-surah103:before {
  content: "\E967";
}
.icon-surah104:before {
  content: "\E968";
}
.icon-surah105:before {
  content: "\E969";
}
.icon-surah106:before {
  content: "\E96a";
}
.icon-surah107:before {
  content: "\E96b";
}
.icon-surah108:before {
  content: "\E96c";
}
.icon-surah109:before {
  content: "\E96d";
}
.icon-surah110:before {
  content: "\E96e";
}
.icon-surah111:before {
  content: "\E96f";
}
.icon-surah112:before {
  content: "\E970";
}
.icon-surah113:before {
  content: "\E971";
}
.icon-surah114:before {
  content: "\E972";
}
