.theme-switch {
  border: 1px solid #00ACC2;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.active {
    background-color: rgba(0, 172, 194, 0.2);
  }

  img {
    width: 19px;
  }
}
