h2, .h2{
  font-family: $font-bold;
  font-size: 30px;
  color: $color-primary;
  margin-bottom: 15px;

  span{
    font-family: $font-regular;
  }
}
a{
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1300px !important;
  max-width: 100%;
}

.dropdown-toggle{
  &:after{
    content: '\f107';
    font-family: 'icons';
    color: $color-primary;
  }
}

#bismillah{
  font-family: 'bismillah';
  font-size: 60px;
  color: #000;
  padding: 25px 0;
}

main{
  float: left;
  width: 100%;
  padding: 50px 0px;
}

body.active {
  &:before{
    content: '';
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 10;
  }

  .surah-actions{
    z-index: 1;
  }
}

p:empty {
  display:none;
}
p {
  margin-bottom:15px;
}

h1 {
  font-size:55px;
  color:#222121;
  margin-bottom: 30px;
}

h4 {
  font-family: $font-medium;
  font-size: 16px;
  color: $color-primary;
  margin-bottom: 5px;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $color-primary;
}


.tooltip-inner {
  box-shadow: 0px 10px 35px 0 rgba(0, 172, 193, 0.2);
}

@media (max-width: 610px) {
  h2 {
    font-size: 24px;
  }
  .logo {
    font-size: 24px;
  }
}