header{
  border-bottom: 1px solid $color-border;
  padding: 10px 0 15px;

  .header-left{
    .logo {
      float: left;
      font-family: 'SFProText-Bold';
      font-size: 30px;
      color: $color-primary;

      span{
        font-family: 'SFProText-Regular';
      }
    }

    #local-switcher{
      float: left;

      .navbar{
        padding-left: 65px;
      }

      .nav-link {
        font-family: 'SFProText-Medium';
        font-size: 14px;
        color: #cfd8dc;
        padding: 0px;
      }
    }
  }

  .download{
    padding: 10px 16px;
    margin-right: 40px;
    border: 0;
  }
}