@font-face {
  font-family: 'icons';
  src: font-url('icons/icons.eot');
  src: font-url('icons/icons.eot#iefix') format('embedded-opentype'),
  font-url('icons/icons.woff2') format('woff2'),
  font-url('icons/icons.woff') format('woff'),
  font-url('icons/icons.ttf') format('truetype'),
  font-url('icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?38557362#icons') format('svg');
  }
}
*/

[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.fa-megaphone:before { content: '\e800'; } /* '' */
.fa-help-circled:before { content: '\e801'; } /* '' */
.fa-comment:before { content: '\e802'; } /* '' */
.fa-comment-alt:before { content: '\e803'; } /* '' */
.fa-info:before { content: '\e804'; } /* '' */
.fa-comment-1:before { content: '\e805'; } /* '' */
.fa-comment-2:before { content: '\e806'; } /* '' */
.fa-comment-alt-1:before { content: '\e807'; } /* '' */
.fa-note:before { content: '\e808'; } /* '' */
.fa-bookmark:before { content: '\e809'; } /* '' */
.fa-bookmark-1:before { content: '\e80a'; } /* '' */
.fa-bookmarks:before { content: '\e80b'; } /* '' */
.fa-bookmark-2:before { content: '\e80c'; } /* '' */
.fa-bookmark-empty-1:before { content: '\e80d'; } /* '' */
.fa-volume-off:before { content: '\e80e'; } /* '' */
.fa-volume-down:before { content: '\e80f'; } /* '' */
.fa-volume-up:before { content: '\e810'; } /* '' */
.fa-clipboard:before { content: '\e811'; } /* '' */
.fa-down-open:before { content: '\e812'; } /* '' */
.fa-spin6:before { content: '\e813'; } /* '' */
.fa-book-open-1:before { content: '\e814'; } /* '' */
.fa-book:before { content: '\e815'; } /* '' */
.fa-down-dir:before { content: '\e816'; } /* '' */
.fa-up-open:before { content: '\e817'; } /* '' */
.fa-up-dir:before { content: '\e818'; } /* '' */
.fa-up-big:before { content: '\e819'; } /* '' */
.fa-check:before { content: '\e81a'; } /* '' */
.fa-ok-circled:before { content: '\e81b'; } /* '' */
.fa-check-1:before { content: '\e81c'; } /* '' */
.fa-check-2:before { content: '\e81d'; } /* '' */
.fa-cancel:before { content: '\e81e'; } /* '' */
.fa-close:before { content: '\e81f'; } /* '' */
.fa-list:before { content: '\e820'; } /* '' */
.fa-layout:before { content: '\e821'; } /* '' */
.fa-plus:before { content: '\e822'; } /* '' */
.fa-plus-circled:before { content: '\e823'; } /* '' */
.fa-minus-circled:before { content: '\e824'; } /* '' */
.fa-minus:before { content: '\e825'; } /* '' */
.fa-search:before { content: '\e826'; } /* '' */
.fa-search-2:before { content: '\e827'; } /* '' */
.fa-home:before { content: '\e828'; } /* '' */
.fa-money:before { content: '\e829'; } /* '' */
.fa-resize-full:before { content: '\e82a'; } /* '' */
.fa-github-circled:before { content: '\e82b'; } /* '' */
.fa-export:before { content: '\e82c'; } /* '' */
.fa-attach:before { content: '\e82d'; } /* '' */
.fa-loop:before { content: '\e82e'; } /* '' */
.fa-cw:before { content: '\e82f'; } /* '' */
.fa-to-end-alt:before { content: '\e830'; } /* '' */
.fa-to-start:before { content: '\e831'; } /* '' */
.fa-to-start-alt:before { content: '\e832'; } /* '' */
.fa-fast-fw:before { content: '\e833'; } /* '' */
.fa-fast-bw:before { content: '\e834'; } /* '' */
.fa-pause:before { content: '\e835'; } /* '' */
.fa-to-end:before { content: '\e836'; } /* '' */
.fa-stop:before { content: '\e837'; } /* '' */
.fa-play:before { content: '\e838'; } /* '' */
.fa-play-circled2:before { content: '\e839'; } /* '' */
.fa-lightbulb:before { content: '\e83a'; } /* '' */
.fa-lightbulb-1:before { content: '\e83b'; } /* '' */
.fa-edit:before { content: '\e83c'; } /* '' */
.fa-edit-1:before { content: '\e83d'; } /* '' */
.fa-videocam:before { content: '\e83e'; } /* '' */
.fa-list-add:before { content: '\e83f'; } /* '' */
.fa-dot-3:before { content: '\e840'; } /* '' */
.fa-link:before { content: '\e841'; } /* '' */
.fa-right-open:before { content: '\e842'; } /* '' */
.fa-text-width:before { content: '\e843'; } /* '' */
.fa-cog-alt:before { content: '\e844'; } /* '' */
.fa-login:before { content: '\e845'; } /* '' */
.fa-left-open:before { content: '\e846'; } /* '' */
.fa-arrows-cw:before { content: '\e847'; } /* '' */
.fa-shuffle:before { content: '\e848'; } /* '' */
.fa-mic-outline:before { content: '\e849'; } /* '' */
.fa-mic-1:before { content: '\e84a'; } /* '' */
.fa-zoom-in:before { content: '\e84b'; } /* '' */
.fa-zoom-out:before { content: '\e84c'; } /* '' */
.fa-th-thumb:before { content: '\f00a'; } /* '' */
.fa-fontsize:before { content: '\f088'; } /* '' */
.fa-link-ext:before { content: '\f08e'; } /* '' */
.fa-bookmark-empty:before { content: '\f097'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-facebook:before { content: '\f09a'; } /* '' */
.fa-docs:before { content: '\f0c5'; } /* '' */
.fa-menu:before { content: '\f0c9'; } /* '' */
.fa-sort-down:before { content: '\f0dd'; } /* '' */
.fa-sort-up:before { content: '\f0de'; } /* '' */
.fa-comment-empty:before { content: '\f0e5'; } /* '' */
.fa-hint:before { content: '\f0eb'; } /* '' */
.fa-angle-left:before { content: '\f104'; } /* '' */
.fa-angle-right:before { content: '\f105'; } /* '' */
.fa-angle-up:before { content: '\f106'; } /* '' */
.fa-angle-down:before { content: '\f107'; } /* '' */
.fa-desktop:before { content: '\f108'; } /* '' */
.fa-mobile:before { content: '\f10b'; } /* '' */
.fa-spinner:before { content: '\f110'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-info-1:before { content: '\f129'; } /* '' */
.fa-mic:before { content: '\f130'; } /* '' */
.fa-mute:before { content: '\f131'; } /* '' */
.fa-ellipsis:before { content: '\f141'; } /* '' */
.fa-ellipsis-vert:before { content: '\f142'; } /* '' */
.fa-play-circled:before { content: '\f144'; } /* '' */
.fa-sort-alt-up:before { content: '\f160'; } /* '' */
.fa-sort-alt-down:before { content: '\f161'; } /* '' */
.fa-bug:before { content: '\f188'; } /* '' */
.fa-share:before { content: '\f1e0'; } /* '' */
.fa-copyright:before { content: '\f1f9'; } /* '' */
.fa-sticky-note:before { content: '\f249'; } /* '' */
.fa-sticky-note-o:before { content: '\f24a'; } /* '' */
.fa-calendar-check-o:before { content: '\f274'; } /* '' */
.fa-commenting:before { content: '\f27a'; } /* '' */
.fa-commenting-o:before { content: '\f27b'; } /* '' */
.fa-search-1:before { content: '\f50d'; } /* '' */