


@media (max-width: 991px) {

  .ban-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .popular-search ul li {
    margin: 0 8px;
  }
  .popular-search ul li a {
    padding: 8px 20px;
  }
  .home-tab-area {
    padding: 30px 0px;
  }
  .head-center {
    display:none;
  }

  .surah-banner .tooltip-li,
  .surah-banner .arabic-li,
  .surah-banner .translations-li,
  .surah-banner .info-li {
    display: none;
  }
  .surah-banner .two-icons {
    order: 3;
  }
  .ban-left-col .border-left {
    padding-left: 0;
    border: 0px !important;
  }
  .surah-banner ul li.sm-dropdown {
    display:block;
    order: 4;
  }
  .ban-left-col ul li ul li a:hover i {
    color: #fff;
  }
  .arabic-text-col {
    padding-right: 0;
  }
  .play-col {
    padding-left: 0px;
  }
  .play-btn {
    margin-right: 10px;
  }
  .second-row .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .second-row .col-md-1 {
    display: none;
  }
  .eng-text-col {
    line-height: normal;
  }
  .eng-text-col small {
    display:none;
  }
  .row-border .col-md-11 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .arabic-text-col .numbre {
    width: 43px;
    height: 45px;
    line-height: 45px;
  }

}

@media (max-width: 767px) {

  h2 {
    font-size: 26px;
  }
  .header {
    position: relative;
  }
  .head-left {
    width: 100%;
    text-align: center;
  }
  .lang-col {
    float: left;
  }
  .lang-col .navbar {
    padding: 0px 65px 0 0px;
  }
  .logo {
    float: none;
    margin-left: -107px;
  }
  .head-right {
    position: absolute;
    top: 20px;
    right: 30px;
  }
  .head-right .btn-primary {
    display: none;
  }
  .popular-search ul li {
    margin: 0px;
  }
  .popular-search ul li a {
    font-size: 12px;
    padding: 5px 18px;
  }
  .home-tab img {
    width: 100%;
  }

  .chapters-list {
    column-count: 1;
  }
  .app-btn {
    text-align: center;
  }
  .app-btn a {
    margin: 10px 10px 0 10px;
  }
  .mobile-img-col {
    text-align: center;
    padding-top: 30px;
  }
  .donations-row .col-md-6.order-2 {
    order: 1;
  }
  .donations-row .col-md-6.order-1 {
    order: 2;
  }
  .text-col {
    padding: 0px !important;
    margin-bottom: 30px;
  }
  .surah-info-area .col-md-8.order-2 {
    order: 1;
  }
  .surah-info-area .col-md-4.order-1 {
    order: 2;
  }
  .first-row {
    margin-bottom: 15px;
  }
  .first-row .col-md-2 {
    width:25%;
  }
  .first-row .col-md-10 {
    width:75%;
  }
  .arabic-text-col {
    font-size: 40px;
  }
  .eng-text-col {
    font-family: 'SFProText-Medium';
    font-size: 17px;
  }
  .sahih {
    font-size: 14px;
  }

}

@media (max-width: 610px) {

  h2 {
    font-size: 24px;
  }
  .logo {
    font-size: 24px;
  }
  .popular-search ul li {
    display: block;
    margin-bottom:10px;
  }
  .popular-search ul li a {
    display: block;
    font-size: 14px;
    padding: 8px 18px;
  }
  .col-sm-8.name {
    float: left;
    width: 70%;
  }
  .col-sm-4.name-arb {
    float: right;
    width: 30%;
  }
  .content-area {
    padding: 30px 0px;
  }
  .mobile-text-col h2 {
    font-size: 24px;
  }
  .heading-banner {
    padding: 0;
  }
  .heading-banner .d-flex {
    flex-direction: column!important;
  }
  .heading-banner ul li {
    border-left: 0px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    width: 100%;
    padding: 20px 0px;
  }
  .heading-banner ul li:last-child {
    border-bottom: 0px solid #eceff1;
    padding: 20px 0px;
  }
  .heading-banner.surah-banner .d-flex {
    flex-direction: row!important;
  }
  .heading-banner.surah-banner ul li {
    width: auto;
    border-bottom: 0px;
  }
  .arabic-text-col {
    font-size: 30px;
  }
  .arabic-text-col .numbre {
    width: 33px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
  }
  .play-col {
    padding-top: 5px;
  }
  .play-btn {
    width: 35px;
    height: 35px;
    line-height: 33px;
    font-size: 13px;
  }
  .play-btn i {
    margin-left: 2px;
  }

}

@media (max-width:479px) {

  .right-navbar {
    right: -100%;
    width: 100%;
  }

  .search-box form {
    padding: 10px 100px 10px 35px;
  }
  .search-box .fa {
    left: 10px;
  }
  .search-box .form-control {
    padding: 0;
  }
  .search-box .search-btn {
    right: 10px;
    font-size: 13px;
    padding: 10px 15px;
  }

  .first-row .col-md-2,
  .first-row .col-md-10 {
    width: 100%;
  }
  .first-row .col-md-2 {
    margin-bottom:15px;
  }
  .surah-banner li.dropdown.border-left {
    display: none;
  }
  .copyright br {
    display: none;
  }

}
