<div class="modal" tabindex="-1" role="dialog" id="feedback-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Feedback</h5>
        <a class="close text--green" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-times-circle"></span>
        </a>
      </div>
      <div class="modal-body">
        <form action='http://community-staging.quran.com/api/feedbacks' method='POST' data-remote=true data-controller="feedback" id='feedback-form'>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name='feedback[title]'>
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" name='feedback[message]'></textarea>
          </div>
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" name='feedback[email]'>
          </div>
          <input type="hidden" class="form-control" name='feedback[url]' id='current-url'>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn--medium" data-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn--darkgreen btn--medium" id=submit-feedback-btn>Submit</button>
      </div>
    </div>
  </div>
</div>