<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4>Sitemap</h4>
          <ul>
            <li><a href="#">Download</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Help &amp; Feedback</a></li>
            <li><a href="#">Developer</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4>Links</h4>
          <ul>
            <li><a href="#">Quraninaudio.com</a></li>
            <li><a href="#">Salah.com</a></li>
            <li><a href="#">Sunnah.com</a></li>
            <li><a href="#">Corpus.Quran.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 ml-auto">
        <div class="copyright">
          <p class="mb-4">Quran.com (also known as The Noble Quran,<br> Al Quran, Holy Quran, Koran) is a pro bono project..</p>
          <p class="mb-0">&copy; 2018 <a href="quran.com">Quran.com</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
