<header class="header">
  <div class="container d-flex justify-content-between">
    <div class="header-left">
      <%= link_to root_path, class: 'logo' do %>
        Quran<span>.com</span>
      <% end %>

      <div id="local-switcher">
        <nav class="navbar navbar-expand-sm">
          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  EN <i class="fa fa-fadown-open"></i>
                </a>

                <ul class="dropdown-menu">
                  <li role="presentation" class="active"><a href="?local=en" role="menuitem" tabindex="-1">English</a></li>
                  <li role="presentation" class=""><a href="?local=ar" role="menuitem" tabindex="-1">العربية</a></li>
                  <li role="presentation" class=""><a href="?local=ur" role="menuitem" tabindex="-1">اردو</a></li>
                  <li role="presentation" class=""><a href="?local=id" role="menuitem" tabindex="-1">Bahasa Indonesia</a></li>
                  <li role="presentation" class=""><a href="?local=tr" role="menuitem" tabindex="-1">Türkçe</a></li>
                  <li role="presentation" class=""><a href="?local=fr" role="menuitem" tabindex="-1">Français</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="head-right">
      <%= link_to 'Download', pages_apps_path, class: 'btn btn-primary download' %>

      <a href="javascript:void(0)" class="nav-btn fa-menu"></a>

      <div class="right-sidebar">
        <div class="right-nav-logo">
          <a href="#">Quran<span>.com</span></a>
          <i class="fa fa-times cross"></i>
        </div>

        <ul class="main-menu">
          <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#"><i class="fa fa-mobile"></i> Mobile Apps</a></li>
          <li><a href="#"><i class="fa fa-usd"></i> Donation</a></li>
          <li><a href="#"><i class="fa fa-laptop"></i> Developers</a></li>
          <li><a href="#"><i class="fa fa-life-ring"></i> Help &amp; Feedback</a></li>
        </ul>
        <div class="other-nav">
          <h4>OTHER</h4>
          <ul>
            <li><a href="#">Quraninaudio.com</a></li>
            <li><a href="#">Salah.com</a></li>
            <li><a href="#">Sunnah.com</a></li>
            <li><a href="#">Corpus.Quran.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
