<div class="site-menu hidden">
  <div class="site-menu__header">
    <p class="text text--black text--large2 text--semibold">Menu</p>
    <div id="close-menu" class="icon-x site-menu__icon-x"></div>
  </div>

  <div class="theme-language">
    <div class="language-wrapper">
      <select class="language" name="" id="">
        <option value="1">English</option>
        <option value="1">Albanian</option>
        <option value="1">Turkish</option>
        <option value="1">Arabic</option>
        <option value="1">German</option>
        <option value="1">Spanish</option>
      </select>
    </div>
    <div class="theme-switch">
      <div class="theme-switch__buttons">
        <a class="theme-switch__button light active" href="#"></a>
        <a class="theme-switch__button dark " href="#"></a>
      </div>
      <div class="theme-switch__labels">
        <p class="theme-switch__label">Mode</p>
      </div>
    </div>
  </div>
  <div class="site-menu__items">
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-home"></span>
        <p class="text text--grey text--large text--semibold">Home</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-mobile"></span>
        <p class="text text--grey text--large text--semibold">Mobile Apps</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-about"></span>
        <p class="text text--grey text--large text--semibold">About Us</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-contribute"></span>
        <p class="text text--grey text--large text--semibold">Contribute</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-help"></span>
        <p class="text text--grey text--large text--semibold">Help &amp; feedback</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-dev"></span>
        <p class="text text--grey text--large text--semibold">Developers</p>
      </a>
    </div>
  </div>

  <div class="site-menu__sites">
    <p class="text text--large2 text--black text--semibold">Related Sites</p>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-"></span>
        <p class="text text--grey text--large text--semibold">Quranaudio.com</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-"></span>
        <p class="text text--grey text--large text--semibold">Salah.com</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-"></span>
        <p class="text text--grey text--large text--semibold">Legacyquran.com</p>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-item__link" href="">
        <span class="icon icon-"></span>
        <p class="text text--grey text--large text--semibold">Corpus.Quran.com</p>
      </a>
    </div>
  </div>
</div>
