<div class="search-form">
  <form action="#">
    <i class="fa-search"></i>
    <input class="form-control <%= I18n.locale %>" placeholder="<%= t('search.placeholder', default: 'Search "Noah"') %>" type="search">
    <button class="search-btn" type="submit"><%= _t('search.label') %></button>
  </form>
</div>
