<div class="search-result">
   <ul role="menu" class="">
    <% 20.times.each do %>
      <li class="d-flex justify-content-between">
        <div class="ayat">
          <a href="#" >
            <b>
              Al-Layl Al-Layl Al-LaylAl-Layl Al-Layl Al-Layl Al-Layl Al-Layl Al-Layl  Al-Layl Al-LaylAl-Layl Al-Layl Al-LaylAl-Layl Al-Layl Al-Layl Al-Layl Al-Layl Al-Layl  Al-Layl Al-Layl
            </b>
          </a>
        </div>
        <div class="">
          <a href="#" >
            23
          </a>
        </div>

      </li>

    <% end %>
   </ul>
</div>
