<div class="search-form">
  <form action="#">
    <i class="fa-search search1"></i>
    <input class="form-control <%= I18n.locale %>" placeholder="<%= t('search.placeholder', default: "Search 'Noah'") %>" type="search">
    <button class="search-btn d-none d-md-block" type="submit"><%= _t('search.label') %></button>
    <button class="search-btn d-md-none" type="submit">
      <i class="fa fa-search search2"></i>
    </button>
  </form>
</div>
