<% query = (params[:q] || params[:query]).presence %>

<div class="search-form flex-fill">
  <form class="form-search form-group" action="/search" data-controller="search-form" data-expand=<%= local_assigns[:expandable] %>>
    <input class="form-control bg-light <%= I18n.locale %>" placeholder="<%= t('search.placeholder', default: "Search 'Noah'") %>" type="search" name="query" value="<%= query %>">
    <button type="submit" class="form-control form-control-submit search-btn"></button>

    <span class="search-label rounded-right" id=search-trigger>
      <i class="fa fa-search"></i>
    </span>
    <div class="suggestions"></div>
  </form>
</div>
