<% query = (params[:q] || params[:query]).presence %>

<form action="/search" data-controller="search-form" data-expand=<%= local_assigns[:expandable] %>>
  <input type="search"
         name="query"
         value="<%= query %>"
         placeholder="<%= t('search.placeholder', default: "Search 'Noah'") %>"
         autocapitalize="none"
         autocomplete="off"
         autocorrect="off"
         spellcheck="false"
         aria-label="Search"
         aria-haspopup="false"
         role="combobox"
         aria-autocomplete="list"/>
  <div id="suggestions"></div>
</form>
