#bismillah, .bismillah {
  font-family: bismillah;
}

#bismillah{
  font-size: 2.4rem;
}

.bismillah{
  font-size: 30px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  visibility: visible;
}
