.translation__text {
  sup {
    color: $dark-green;
    cursor: pointer;
  }
}

.footnote {
  background-color: #FBFBFB;
  border: 1px solid #DADBDE;
  border-radius: 6px;

  @at-root .dark & {
    //background-color: darken($black, 2%);
    background-color: $dark-grey;
    border: 1px solid #71727E;
  }
}
