<div class="container">
  <div class="sm-wrapper">
    <div class="row d-flex align-items-center my-5">
      <div class="col-md-12">
        <h2>Quran<span>.com</span></h2>
        <p>
          The Noble Quran is the central religious text of Islam. Muslims believe the Qur’an is the book of Divine guidance and direction for mankind, and consider the original Arabic text the final revelation of Allah (God).[1] All translations of the original Arabic text are thus interpretations of the original meanings and should be embraced as such. For more information about the Noble Quran, you may visit its Wikipedia article.
        </p>

        <h2>MECCAN<span> Surahs</span></h2>
        <p>
          The Meccan suras are the chronologically earlier chapters (suras) of the Quran that were, according to Islamic tradition, revealed anytime before the migration of the Islamic prophet Muhammed and his followers from Mecca to Medina (Hijra). The Medinan suras are those revelations that occurred after the move to the city of that name.
        </p>

        <h2>MEDINAN<span> Surahs</span></h2>
        <p>
          The Medinan suras or Medinan chapters of the Quran are the latest 24 suras that, according to Islamic tradition, were revealed at Medina after Muhammad's hijra from Mecca. These suras were revealed by Allah when the Muslim community was larger and more developed, as opposed to their minority position in Mecca.
        </p>

        <br/>
        <br/>
        <p>
          We have redesigned the website with a user friendly approach in mind. To browse through the surahs, click on the button (shown left) in the READ & LISTEN page and navigate surah by title or by page. In future iterations, we will be integrating more search and audio features inshaAllah. If you have any suggestions on how we can make the website a better experience please do not hesitate to contact us.
        </p>

        <div class="row d-flex justify-content-center pt-4">
          <div class="col-md-8">
            <div class="text-center">
              <h2>CREDITS</h2>
              <p class="mb-5">
                This website was created by a few volunteers and was made possible with the will of Allah (Glory be unto Him) and with the help of the open source Muslim community online.
                Data sources include Tanzil, QuranComplex, Colin Fair's work on audio segments, Zekr and Online Quran Project.
                <br/>
                If you have any questions, you may visit the Contact page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
