<div class="container ">
  <div class="content-page content-page--medium">
    <div class="text-image">
      <div class="text-image__text text-image__text--center">
        <h1>Quran.com</h1>
        <p>By the developers of the Quran.com application, comes the beautiful and ad-free mushaf iOS and Android apps.
          It’s now easier to read the Quran on the go, memorize it, and listen to your favorite reciters.
          Al-hamdu Lillah!</p>
        <div class="apps-link">
          <a href="https://itunes.apple.com/us/app/quran-by-quran.com-qran/id1118663303" target="_blank">
            <%= image_tag "newapple.svg", alt: 'Quran.com ios' %>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.quran.labs.androidquran&utm_source=quran-com&utm_campaign=download" target="_blank">
            <%= image_tag "newgoogle.svg", alt: 'Quran.com android' %>
          </a>
        </div>
      </div>
      <div class="text-image__image">
        <%= image_tag "phones.png", alt: 'Quran.com apps' %>
      </div>
    </div>
  </div>
</div>
