<div class="container">
  <div class="sm-wrapper">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h2>Quran<span>.com</span></h2>
        <p>From the makers of Quran.com comes Quran for iOS, a beautiful, and ad-free mushaf app. It’s now easier to
          read the Quran on the go, memorize it and listen to your favorite reciters.</p>
        <div class="app-btn">
          <a href="https://itunes.apple.com/us/app/quran-by-quran.com-qran/id1118663303" target="_blank" rel="noopener noreferrer">
            <%= image_tag 'app-store.jpg', class: 'img-fluid"' %>
          </a>

          <a href="https://play.google.com/store/apps/details?id=com.quran.labs.androidquran" target="_blank" rel="noopener noreferrer">
            <%= image_tag 'google-play.jpg', class: 'img-fluid"' %>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag 'mobile.jpg', class: 'img-fluid"' %>
      </div>
    </div>
  </div>
</div>