<div class="container ">
  <div class="content-page content-page--medium">
    <div class="text-image">
      <div class="text-image__text">
        <h1>Who we are.</h1>
        <p>Since 2008, Alhamdulillah, Quran.com now serves over 5 million visits each month
          from all corners of the world
          - and we continue to grow everyday.</p>
        <p>This, with the blessing of Allah, is powered by merely 5 volunteers who are working hard during their
          spare time to keep this project as beneficial and useful to people all around the world.</p>
      </div>
      <div class="text-image__image">
        <%= image_tag "donate1.jpg", style: 'border-radius: 6px;' %>
      </div>
    </div>
    <div class="text-image text-image--reverse">
      <div class="text-image__text">
        <h1>How you can help.</h1>
        <p>Quran.com has an incredible amount of potential from a product and team standpoint. We need to
          continue
          innovating the product and experience to serve you better. To do so we have overhead costs which
          include:<br></p>
        <p>
          Server costs<br>
          Data analytics and metrics tools to best learn about your needs (Optimizely, Heap, Keen, etc.)<br>
          Design help (we are striving to follow our beautiful religion by making beautiful products)</p>
        <p></p>
      </div>
      <div class="text-image__image">
        <%= image_tag "donate2.jpg", style: 'border-radius: 6px;' %>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 200px;" class="content-page content-page--small">
    <h1>Make a difference.</h1>
    <p>Making a difference to the Quran.com application is as simple as a Tweet, a Facebook share or an email with
      feedback. For those looking to make a stronger impact, support us by
      <strike>contributing any monetary amount.</strike>
      (EDIT: We're not taking donation at the moment)
    </p>

    <div class="content-page__center">
      <!--<a style="margin-top: 8px" class="green-link" disabled="">Support Quran.com</a>-->
    </div>
  </div>
</div>
