<div class="container">
  <div class="row d-flex justify-content-center pt-4">
    <div class="col-md-6">
      <div class="text-center">
        <h2>Help &amp; <span>feedback.</span></h2>
        <p class="mb-5">Please check the FAQ to see if your question has been already answered. If needed you can <span class="text-primary">contact us by email</span> & we'll do our best to get back to you as soon as possible, but just so you know we're a small team so please be nice. </p>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="accordion-box">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Using content from Quran.com</button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Browsing site in other languages</button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Is Tafsir available?</button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Adding reciters</button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">Changing translations</button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="accordion-box">
            <div class="accordion" id="accordionExample2">
              <div class="card">
                <div class="card-header" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Using content from Quran.com</button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample2">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingSeven">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Browsing site in other languages</button>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample2">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingEight">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Is Tafsir available?</button>
                  </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample2">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingNine">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Adding reciters</button>
                  </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample2">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTen">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Changing translations</button>
                  </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample2">
                  <div class="card-body"> Not for the time being. We have to think about the user interface as Tafsir spans multiple ayahs or pages. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-12">
      <div class="text-center">
        <h2>Did’nt Find Answer, <span>Submit Your Question.</span></h2>
        <form action="" method="post">
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Full Name">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="col-md-4">
              <select class="form-control">
                <option>Subject</option>
                <option>Lorem Ipsum</option>
                <option>Lorem Ipsum</option>
                <option>Lorem Ipsum</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control" placeholder="Question"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" class="btn btn-primary" value="Send Question">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
