<div class="copy-wrapper hidden">
  <div class="copy">
    <div class="copy__header">
      <p class="text text--black text--large2 text--semibold">Copy options</p>
      <div class="icon-x"></div>
    </div>
    <div>
  
      <p class="text text--darkgrey text--medium text--semibold">Select ayah range</p>
      <div class="display-settings__radios">
        <label class="radio-label radio-label--border radio-label--black copy-current-ayah-radio">Current ayah <input class="" name="ayah" type="radio" checked>
          <span class="checkmark"></span>
        </label>
        <label class="radio-label radio-label--border radio-label--black copy-range-ayah-radio">Range of ayah <input class="" name="ayah" type="radio">
          <span class="checkmark"></span>
        </label>
      </div>
  
      <div class="copy-range-ayah hidden ">
        <div class="copy-range-labels">
          <div class="audio-select tab__row tab__row--col">
            <p class="text text--darkgrey text--medium text--semibold">From Ayah</p>
            <div class="simple-select-div">
              <select class="simple-select select2-hidden-accessible" data-select2-id="select2-data-16-lr0z" tabindex="-1" aria-hidden="true">
                <option data-select2-id="select2-data-18-wub3"></option>
                <option value="1">option 1</option>
                
              </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-17-rsof" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-0m5u-container"><span class="select2-selection__rendered" id="select2-0m5u-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">selected option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
          </div>
          <div class="audio-select tab__row tab__row--col">
            <p class="text text--darkgrey text--medium text--semibold">To Ayah</p>
            <div class="simple-select-div">
              <select class="simple-select select2-hidden-accessible" data-select2-id="select2-data-19-5lf4" tabindex="-1" aria-hidden="true">
                <option data-select2-id="select2-data-21-c0p0"></option>
                <option value="1">option 1</option>
                <option value="2">option 2</option>
                <option value="3">option 3</option>
                <option value="4">option 4</option>
                <option value="5">option 5</option>
                <option value="6">option 6</option>
                <option value="7">option 7</option>
                <option value="8">option 8</option>
              </select>
              <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-20-ehpd" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-c41c-container"><span class="select2-selection__rendered" id="select2-c41c-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">selected option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="text text--darkgrey text--medium text--semibold">What do you want to copy?</p>
      <div class="copy-translation">
        <label class="check-label copy-arabic-check">Arabic text <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <p class="text text--darkgrey text--large text--regular">Translations</p>
        <div class="copy-translation-languages">
          <label class="check-label ">Amharic - Sadiq And Sani <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="check-label ">Azeri - Alikhan Musayev <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="check-label ">Ali Muhsin Al-Barwani <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="copy-footnote-section hidden">
      <p class="text text--darkgrey text--medium text--semibold">Copy also the Footnote(s)</p>
      <label class="radio-label ">Yes <input class="" name="radio" type="radio">
        <span class="checkmark"></span>
      </label>
      <label class="radio-label ">No <input class="" name="radio" type="radio">
        <span class="checkmark"></span>
      </label>
    </div>
  
    <div class="copy-footer">
      <button id="" class="btn btn--darkgreen btn--medium close-copy">Copy text</button>
    </div>
  </div>
</div>