<div id="title">
Share verse
</div>

<div id="modal">
  <div class="modal-body">
    <div data-controller="share" data-url="<%= @presenter.share_url %>" data-title="<%= @presenter.share_title %>" data-text="<%= @presenter.share_text %>" data-versek-key="<%= @presenter.verse.verse_key %>">
      <div id="share-buttons">
      </div>
    </div>
  </div>
</div>
