<link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
<%# <link href="https://fonts.googleapis.com/css2?family=Scheherazade&display=swap" rel="stylesheet"> %>
<div class="container">
  <div class="row d-flex justify-content-center my-5">
    <div class="col-md-8">
      <div class="tafsir lh-n <%= @presenter.language_name %>">
        <h2 class="border-bottom py-2">
          <%= @presenter.tafsir_name %>
        </h2>

        <p class="h4" style="font-family: 'Amiri', serif; line-height: 40px;">
          <%= @presenter.tafsir_text %>
        </p>
      </div>

      <div class="text-center my-4">
        <%= link_to "Back to ayah", "/#{@presenter.verse.verse_key}", class: 'btn btn-outline-primary mt-4' %>
      </div>
    </div>
  </div>
</div>

