<div class="container">
  <div class="col-12">
    <div class="tafsir lh-n <%= @presenter.language_name %>">
      <h2>
        <%= @presenter.tafsir_name %>
      </h2>

      <%= @presenter.tafsir_text %>
    </div>

    <div class="text-center my-4">
      <%= link_to "Back to ayah", "/#{@presenter.verse.verse_key}", class: 'btn btn-primary' %>
    </div>
  </div>
</div>

