$color-border: #eceff1;

$color-primary: #00acc1;
$color-success: #1dc9b7;
$color-info: #f3f3f4;
$color-warning: #ffc241;
$color-danger: #fd3995;
$color-secondary: #8a8a8a;
$primary: $color-primary;
$info: $color-info;
$white: #fff !default;

// color variant
$primary-400: lighten($color-primary, 5%) !default;

/* tooltips */
$tooltip-max-width: 200px;
$tooltip-color: $white;
$tooltip-bg: $color-primary;
$tooltip-border-radius: 5px;
$tooltip-opacity: 1;
$tooltip-padding-y: 0.3rem;
$tooltip-padding-x: 0.6rem;
$tooltip-margin: 2px;
$tooltip-arrow-width: 8px;
$tooltip-arrow-height: 5px;

/* font vars below will auto change to rem values using function rem($value)*/
$fs-base: 13px;
$fs-nano: $fs-base - 2; /* 11px   */
$fs-xs: $fs-base - 1; /* 12px   */
$fs-sm: $fs-base - 0.5; /* 12.5px */
$fs-md: $fs-base + 1; /* 14px   */
$fs-lg: $fs-base + 2; /* 15px   */
$fs-xl: $fs-base + 3; /* 16px   */
$fs-xxl: $fs-base + 15; /* 28px   */

/* z-index */
$space: 1000 !default;
$cloud: 950 !default;
$air: 200 !default;
$ground: 0 !default;
$water: -99 !default;

$zindex-sticky: $air !default;
$zindex-fixed: $air !default;

// Base Color
$black: #1c1c20;
$dark-grey: #31333d;
$light-green: #cdecf1;
$dark-green: #00acc2;

// Grey Colors
$grey1: #fbfbfb;
$grey2: #f3f3f4;
$grey3: #ebebed;
$grey4: #e1e1e4;
$grey5: #dadbde;
$grey6: #c1c2c7;
$grey7: #999aa2;
$grey8: #71727e;
$grey9: #797979;

// Text Font Sizes
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-xlarge: 24px;
// Font colors
$font-white: $grey1;
$font-grey: $grey8;
$font-green: $dark-green;
$font-darkgrey: #333647;
$font-softgrey: #93949c;
$font-pitchblack: #000000;

// Font Weight
$font-regular: 300;
$font-semibold: 500;

// Small tablets and large smartphones (landscape view)
$screen-xsm-min: 425px;
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 767px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
