// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
  .form-control {
    margin-bottom: 15px;
  }

  &.donations {
    img {
      width: 100%;
    }
  }

  &.apps {
    font-family: $font-medium;
    font-size: 16px !important;
  }

  main {
    font-size: 15px;
    margin-top: 70px;

    .align-items-center {
      margin-bottom: 40px;
    }

    .sm-wrapper {
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 6px;

      &:before {
        font-family: "icons";
        content: "\f105";
        color: $color-primary;
        position: absolute;
        top: 4px;
        left: 0px;
      }
    }

    .btn-primary {
      padding: 12px 20px;
    }
  }
}

.accordion-box {
  border: 1px solid #eceff1;
  border-radius: 0.25rem;
  margin-bottom: 80px;

  .card {
    border: 0px;
    padding: 0 15px;
    border-bottom: 1px solid #f1f1f1 !important;

    &:last-child {
      border: 0px !important;
    }
  }

  .card-header {
    background: none;
    border-bottom: 0;
    padding: 0;
  }

  .card-body {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 30px 15px 0px;
  }

  .btn-link {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    font-family: $font-bold;
    font-size: 16px;
    color: #263238;
    padding: 15px 30px 15px 0px;

    &:after {
      font-family: $font-medium;
    }
    &:focus,
    &:focus {
      text-decoration: none;
    }
  }

  .btn-link[aria-expanded="false"] {
    &:after {
      content: "+";
      position: absolute;
      top: 15px;
      right: 0px;
      width: 25px;
      height: 25px;
      line-height: 22px;
      border: solid 1px #eceff1;
      border-radius: 50%;
      font-size: 16px;
      color: #eceff1;
      text-align: center;
    }

    &:hover {
      &:after {
        color: #80deea;
        border: solid 1px #80deea;
        background-color: #e0f7fa;
      }
    }
  }

  .btn-link[aria-expanded="true"] {
    &:after {
      content: "-";
      position: absolute;
      top: 15px;
      right: 0px;
      width: 25px;
      height: 25px;
      line-height: 22px;
      border: solid 1px #80deea;
      background-color: #e0f7fa;
      border-radius: 50%;
      font-size: 16px;
      color: #80deea;
      text-align: center;
    }
  }
}
