/*//$font-regular: "SF Pro Text Regular, Times New Roman, Roboto, Helvetica Neue, Noto Sans, sans-serif";
//$font-medium: "SF Pro Text Medium, Montserrat, sans-serif";
//$font-bold: "SF Pro Text Bold, Montserrat, Roboto, sans-serif";
*/
$color-border: #eceff1;

$color-primary: #00acc1;
$color-success: #1dc9b7;
$color-info: #f3f3f4;
$color-warning: #ffc241;
$color-danger: #fd3995;
$color-secondary: #8a8a8a;
$color-fusion: darken(desaturate(adjust-hue($color-primary, 5), 80%), 25%);
$primary: $color-primary;
$info: $color-info;
$white: #fff !default;
$color-highlight2: #FF7416;

// color variant
$primary-400: lighten($color-primary, 5%) !default;

/* tooltips */
$tooltip-max-width: 200px;
$tooltip-color: $white;
$tooltip-bg: $color-primary;
$tooltip-border-radius: 5px;
$tooltip-opacity: 1;
$tooltip-padding-y: 0.3rem;
$tooltip-padding-x: 0.6rem;
$tooltip-margin: 2px;
$tooltip-arrow-width: 8px;
$tooltip-arrow-height: 5px;

/* font vars below will auto change to rem values using function rem($value)*/
$fs-base: 13px;
$fs-nano: $fs-base - 2; /* 11px   */
$fs-xs: $fs-base - 1; /* 12px   */
$fs-sm: $fs-base - 0.5; /* 12.5px */
$fs-md: $fs-base + 1; /* 14px   */
$fs-lg: $fs-base + 2; /* 15px   */
$fs-xl: $fs-base + 3; /* 16px   */
$fs-xxl: $fs-base + 15; /* 28px   */

/*Media Variables*/
$phone-xs: "screen and (max-width: 340px)";
$phone: "screen and (max-width: 480px)";
$tablet: "screen and (max-width: 768px)";
$tablet-md: "screen and (max-width: 992px)";
$tablet-lg: "screen and (max-width: 1024px)";
$desktop: "screen and (min-width: 1200px)";
$desktop-md: "screen and (min-width: 1200px) and (max-width: 1400px)";

/* z-index */

/*  Z-INDEX declearation
========================================================================== */
$space: 1000 !default;
$cloud: 950 !default;
$air: 200 !default;
$ground: 0 !default;
$water: -99 !default;

$zindex-sticky: $air !default;
$zindex-fixed: $air !default;
