$font-regular: "SFProText-Regular";
$font-bold: "SFProText-Bold";
$font-medium: "SFProText-Medium";

$color-border: #eceff1;

$color-primary: #00acc1;
$color-success: #1dc9b7;
$color-info: #F3F3F4;
$color-warning: #ffc241;
$color-danger: #fd3995;
$color-secondary: #8a8a8a;
$color-fusion: darken(desaturate(adjust-hue($color-primary, 5), 80%), 25%);
$primary: $color-primary;
$info: $color-info;

/* font vars below will auto change to rem values using function rem($value)*/
$fs-base: 13px;
$fs-nano: $fs-base - 2; /* 11px   */
$fs-xs: $fs-base - 1; /* 12px   */
$fs-sm: $fs-base - 0.5; /* 12.5px */
$fs-md: $fs-base + 1; /* 14px   */
$fs-lg: $fs-base + 2; /* 15px   */
$fs-xl: $fs-base + 3; /* 16px   */
$fs-xxl: $fs-base + 15; /* 28px   */


/*Media Variables*/
$phone: "screen and (max-width: 480px)";
$tablet: "screen and (max-width: 768px)";
$tablet-md: "screen and (max-width: 992px)";
$tablet-lg: "screen and (max-width: 1024px)";
$desktop: "screen and (min-width: 1200px)";
$desktop-md: "screen and (min-width: 1200px) and (max-width: 1400px)";


