h2,
.h2 {
  font-family: $font-bold;
  font-size: 30px;
  color: $color-primary;
  margin-bottom: 15px;

  span {
    font-family: $font-regular;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

#bismillah {
  color: #000;
  font-family: "bismillah";
  font-size: 60px;
  padding: 25px 0;
}

main {
  float: left;
  width: 100%;
  padding: 50px 0px;
}

p:empty {
  display: none;
}

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 55px;
  color: #222121;
  margin-bottom: 30px;
}

h4 {
  font-family: $font-medium;
  font-size: 16px;
  color: $color-primary;
  margin-bottom: 5px;
}

.brand {
  color: $color-primary;
}

.btn-outline-primary {
  display: inline-block;
  background: #e0f7fa;
  font-family: $font-medium;
  border-radius: 50px;
  border: solid 1px #80deea;
  padding: 10px 35px;

  &:hover,
  &.active {
    background: $color-primary;
    color: $white !important;
  }
}

@media (max-width: 610px) {
  h2 {
    font-size: 24px;
  }
  .logo {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .logo {
    float: left;
  }
  .header-left {
    width: 40%;
  }
  header .head-center {
    width: 60%;
    margin: 0 5px 0 0px;
  }
  .head-right {
    top: 65px;
    right: 20px;
  }
  #local-switcher {
    top: 13px;
    right: 3px;
  }
  .sidebar-head .logo {
    position: relative;
    top: -10px;
  }
  #player ul {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav-scroll .navbar-nav {
    padding-bottom: 1rem;
  }
}
