#player{
    @media (max-width: 767px) {
      .lg-audio{
        position: absolute;
        top: -32%;
        left: 0px;
        background-color: white;
        width: 100%;
      }
      .slider.slider-horizontal {
        width: 100%;
        left: 13px;
      }
    }
}
