.surah-actions{
  .container{
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
      .navbar-nav {
        padding: .6rem !important;
      }
    }
      ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
      @media (max-width: 767px) {
        ul{
          justify-content: unset;
        }
        li:nth-last-child(2), li:nth-last-child(1) {
          padding: 0px 3px 11px 3px;
        }
      }
   }
   
}

#chapter-info{
  @media (max-width: 767px) {
    .alert-dismissible {
      padding: .6rem !important;
      .info-heading{
        position: relative;
        margin-top: 3rem;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-evenly;
        li:first-child{
          width: 100%;
        }
        li:last-child{
          position: absolute;
          right: .2rem;
          top: .2rem;
          a{
            padding: 0;
          }
        }
        li{
          text-align: center;
        }
      }
    }
  }
}
