.fa-help {
  &:before {
    content: $fa-help;
  }
}
.fa-fb {
  &:before {
    content: $fa-fb;
  }
}
.fa-messenger {
  &:before {
    content: $fa-messenger;
  }
}
.fa-pocket {
  &:before {
    content: $fa-pocket;
  }
}
.fa-line {
  &:before {
    content: $fa-line;
  }
}
.fa-pinterest {
  &:before {
    content: $fa-pinterest;
  }
}
.fa-reddit {
  &:before {
    content: $fa-reddit;
  }
}
.fa-telegram {
  &:before {
    content: $fa-telegram;
  }
}
.fa-twitter {
  &:before {
    content: $fa-twitter;
  }
}
.fa-whatsapp {
  &:before {
    content: $fa-whatsapp;
  }
}
.fa-developer {
  &:before {
    content: $fa-developer;
  }
}
.fa-bookmark {
  &:before {
    content: $fa-bookmark;
  }
}
.fa-caret-right {
  &:before {
    content: $fa-caret-right;
  }
}
.fa-pause-circle {
  &:before {
    content: $fa-pause-circle;
  }
}
.fa-play-circle {
  &:before {
    content: $fa-play-circle;
  }
}
.fa-play-solid {
  &:before {
    content: $fa-play-solid;
  }
}
.fa-step-backward {
  &:before {
    content: $fa-step-backward;
  }
}
.fa-step-forward {
  &:before {
    content: $fa-step-forward;
  }
}
.fa-arrow-alt-left {
  &:before {
    content: $fa-arrow-alt-left;
  }
}
.fa-bars-regular {
  &:before {
    content: $fa-bars-regular;
  }
}
.fa-chevron-right {
  &:before {
    content: $fa-chevron-right;
  }
}
.fa-link-regular {
  &:before {
    content: $fa-link-regular;
  }
}
.fa-long-arrow-left {
  &:before {
    content: $fa-long-arrow-left;
  }
}
.fa-pause-circle-regular {
  &:before {
    content: $fa-pause-circle-regular;
  }
}
.fa-play-circle-regular {
  &:before {
    content: $fa-play-circle-regular;
  }
}
.fa-play-regular {
  &:before {
    content: $fa-play-regular;
  }
}
.fa-repeat-regular {
  &:before {
    content: $fa-repeat-regular;
  }
}
.fa-spinner {
  &:before {
    content: $fa-spinner;
  }
}
.fa-unlink-regular {
  &:before {
    content: $fa-unlink-regular;
  }
}
.fa-bars-light {
  &:before {
    content: $fa-bars-light;
  }
}
.fa-bookmark1 {
  &:before {
    content: $fa-bookmark1;
  }
}
.fa-clipboard-list {
  &:before {
    content: $fa-clipboard-list;
  }
}
.fa-cog {
  &:before {
    content: $fa-cog;
  }
}
.fa-cogs {
  &:before {
    content: $fa-cogs;
  }
}
.fa-copy {
  &:before {
    content: $fa-copy;
  }
}
.fa-edit {
  &:before {
    content: $fa-edit;
  }
}
.fa-ellipsis-h {
  &:before {
    content: $fa-ellipsis-h;
  }
}
.fa-ellipsis-v-alt {
  &:before {
    content: $fa-ellipsis-v-alt;
  }
}
.fa-ellipsis-v {
  &:before {
    content: $fa-ellipsis-v;
  }
}
.fa-envelope {
  &:before {
    content: $fa-envelope;
  }
}
.fa-external-link-alt {
  &:before {
    content: $fa-external-link-alt;
  }
}
.fa-home {
  &:before {
    content: $fa-home;
  }
}
.fa-info-circle {
  &:before {
    content: $fa-info-circle;
  }
}
.fa-link-light {
  &:before {
    content: $fa-link-light;
  }
}
.fa-microphone {
  &:before {
    content: $fa-microphone;
  }
}
.fa-minus-circle {
  &:before {
    content: $fa-minus-circle;
  }
}
.fa-mobile {
  &:before {
    content: $fa-mobile;
  }
}
.fa-music {
  &:before {
    content: $fa-music;
  }
}
.fa-pause-circle-light {
  &:before {
    content: $fa-pause-circle-light;
  }
}
.fa-play-circle-light {
  &:before {
    content: $fa-play-circle-light;
  }
}
.fa-play-light {
  &:before {
    content: $fa-play-light;
  }
}
.fa-plus-circle {
  &:before {
    content: $fa-plus-circle;
  }
}
.fa-print {
  &:before {
    content: $fa-print;
  }
}
.fa-repeat-light {
  &:before {
    content: $fa-repeat-light;
  }
}
.fa-search {
  &:before {
    content: $fa-search;
  }
}
.fa-share-alt {
  &:before {
    content: $fa-share-alt;
  }
}
.fa-share-square {
  &:before {
    content: $fa-share-square;
  }
}
.fa-tag {
  &:before {
    content: $fa-tag;
  }
}
.fa-tags {
  &:before {
    content: $fa-tags;
  }
}
.fa-times-circle {
  &:before {
    content: $fa-times-circle;
  }
}
.fa-times {
  &:before {
    content: $fa-times;
  }
}
.fa-tv {
  &:before {
    content: $fa-tv;
  }
}
.fa-unlink-light {
  &:before {
    content: $fa-unlink-light;
  }
}
.fa-play {
  &:before {
    content: $fa-play;
  }
}
.fa-book {
  &:before {
    content: $fa-book;
  }
}
.fa-donate {
  &:before {
    content: $fa-donate;
  }
}
