<div class="chapter-list">
  <div class="container" role="tablist">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#surrah" role="tab" aria-selected="true" aria-controls="surrah" id="surrah-tab" tabindex="0"><%= _t('chapters.label') %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#juz"><%= _t('juz') %></a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="surrah">
        <div class="items">
          <ul>
            <%= render @presenter.chapters %>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade" id="juz">
        <div class="items juz-list">
          <ul>
           <%= render partial: 'juz', collection: @presenter.juz %>
          </ul>
        </div>
      </div>
    </div>
 </div>
</div>
