<div class="chapter-list">
  <div class="container" role="tablist">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#surrah" role="tab" aria-selected="true" aria-controls="surrah" id="surrah-tab" tabindex="0"><%= _t('chapters.label') %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#juz"><%= _t('juz') %></a>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="surrah">
        <div class="items">
          <ul class="p-0">
            <% @presenter.chapters.each_with_index do |chapter, key| %>
              <%= render 'chapter', chapter: chapter, key: key + 1  %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade" id="juz">
        <div class="items juz-list">
          <ul class="p-0">
           <% @presenter.juz.each_with_index do |juz, key| %>
              <%= render 'juz', juz: juz, key: key + 1  %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
 </div>
</div>
