<div class="related-sites-section">
  <div class="container">
    <div class="row">
      <% related_sites.each do |link, name, description| %>
        <div class="col-md-4">
          <figure class="site">
            <%= link_to link do %>
              <%= image_tag 'img1.jpg', class: 'img-fluid' %>

              <figcaption class="d-flex align-items-end">
                <div>
                  <h3><%= name %></h3>
                  <p><%= description %></p>
                </div>
              </figcaption>
            <% end %>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
</div>
