<div class="related-sites-section">
  <div class="container">
    <div class="row">
      <% 1.upto(3) do %>
      <div class="col-md-4">
        <figure class="site">
          <a href="#">
            <%= image_tag 'img1.jpg', class: 'img-fluid' %>

            <figcaption class="d-flex align-items-end">
              <div>
                <h3>Salah</h3>
                <p>Search prayer times for any location</p>
              </div>
            </figcaption>
          </a>
        </figure>
      </div>
        <% end %>
    </div>
  </div>
</div>
