<div class="related-sites-section scrolled-section">
  <div class="container">
    <div class="row">
      <% related_sites.each do |img, link, name, description| %>
        <div class="col-md-4">
          <figure class="site">
            <%= link_to link do %>
              <%= lazy_image_tag "media/images/#{img}", class: 'img-fluid', alt: link %>

              <div class="caption d-flex align-items-end">
                <div>
                  <h3><%= name %></h3>
                  <p><%= description %></p>
                </div>
              </div>
            <% end %>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
</div>
