<% verses = @presenter.verses %>
<div id="title">
  <a href='<%= verses.first.verse_key %>'><%= verses.first.verse_key %></a>
</div>
<div id="modal">
  <div>
    <%= render 'reader/qcf_fonts', verses: verses %>
    <%= render partial: 'reader/verse', locals: {verse: verses.first} %>
  </div>
</div>
