<%= link_to url, class: 'm-0' do %>
<div class="search-item">
  <div>
    <p class="number">
     <%= text['id'] %>
    </p>
  </div>

  <div class="search-item--results">
    <div class=" search-item--title">
      <p class="text text--black"><%= text['raw'] %></p>
    </div>
  </div>
</div>
<% end %>
