.uighur,
.uyghur,
.ur,
.urdu,
.persian,
.hebrew,
.pashto,
.arabic,
divehi,
.dhivehi {
  direction: rtl;
  text-align: right;

  .alert-dismissible {
    .close {
      left: 0;
      right: auto;
    }
  }
}

.ur,
.urdu {
  font-family: nafees;
}

.kurdish {
  font-family: "DroidArabicNaskh";
}

.divehi,
.dhivehi,
.maldivian {
  font-family: "divehi";
}

.indopak,
.text_indopak {
  font-family: "pdms";
}

.tajweed,
.uthmani {
  font-family: me_quran;
}

.muhsaf-qpc_hafs,
.qpc_hafs {
  font-family: UthmanicHafs1-Ver17;
  * {
    unicode-bidi: bidi-override;
  }
}

.lang-ar,
.lang-ur {
  input {
    direction: rtl;
  }
}

.indopak,
.uthmani,
.tajweed {
  .end {
    font-family: UthmanicHafs1-Ver17;
    font-size: 35px;
    unicode-bidi: bidi-override;
  }
}
