// Override bootstrap's colors
// https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss

:root {
  --yellow: #fecf33;
  --light-orange: #fdbd39;
  --peach: #ee6723;
}

$color-primary:  #00acc1 !default;
$color-secondary: #b0bec5 !default;
$color-border: #eceff1;
$white:    #fff !default;


$link-color: $color-secondary !default;
$link-hover-color: $color-primary !default;
$link-hover-decoration: none !default;

$enable-caret: false !default;

$body-color: $color-secondary !default;

// Dropdown colors
$dropdown-link-color: $color-secondary !default;
$dropdown-link-active-bg: $color-primary !default;
$dropdown-link-active-color: $white !default;
$dropdown-link-hover-bg: $color-primary !default;
$dropdown-link-hover-color: $white;

// Tooltip
$tooltip-arrow-color: $color-primary !default;
$tooltip-bg: $color-primary !default;
$tooltip-padding-y: 8px !default;
$tooltip-padding-x: 20px !default;

$theme-colors: (
        primary: $color-primary,
        secondary: $color-secondary,

) !default;

$embed-responsive-aspect-ratios: (
                (16 9),
) !default;

$font-regular: 'SFProText-Regular';
$font-bold: 'SFProText-Bold';
$font-medium: 'SFProText-Medium';

