<div id="title">
  <span class="text--semibold">
    Join us in building the next version of Quran.com
  </span>
</div>

<div id="modal">
  <div class="modal-body">
    <div>
      <p class="text text--darkgrey text--medium">
        This Ramadan we are raising $10k/month to accelerate the roadmap of new features by 7x and keep Quran.com an
        open-source and un-biased source for Quranic study.
      </p>

      <p class="text--green mt-3">
        ✔ Monthly transparency reports
      </p>
      <p class="text--green">
        ✔ Tax deductible (US only)
      </p>
    </div>
  </div>

  <div class="modal-footer" style="background: #F2F2F2;">
    <a class="btn btn--lightgrey text--green" href="https://quranfund.com/" target="_blank">
      Learn more
    </a>

    <a class="btn btn--darkgreen">
      Become a donor
    </a>
  </div>
</div>
