#notification-alert {
  align-items: center;
  padding: 7.11795px 5.33846px;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #dfdfe0;

  @at-root .dark & {
    background-color: #31333d;
  }
}
