#notification-alert {
  align-items: center;
  background: #cdecf1;
  padding: 10px;
  border-bottom: 1px solid #00acc2;

  h3 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 7px
  }

  .text--green {
    margin-top: 5px;
  }
}
