
@font-face {
  font-family: pg_001;
  src: local(QCF2001),
  url(https://muqri.com/mushaf/woff2/QCF2001.woff2) format('woff2'),
  url(https://muqri.com/mushaf/woff/QCF2001.woff) format('woff');
  font-display: block;
}
