<div class="row">
  <div class="col-12 text-center surah-name">
    <span class="icon-surah icon-surah<%= verse.chapter_id %>"></span>
    <span class="icon-surah icon-surah-surah"></span>
  </div>

  <% if @presenter.show_bismillah?(verse) %>
    <div class="col-12 text-center bismillah">
      ﷽
    </div>
  <% end %>
</div>


