  <div class="surah-name text text--black">
    <span class="icon-surah icon-surah<%= verse.chapter_id %>"></span>
    <span class="icon-surah icon-surah-surah"></span>
  </div>

  <% if @presenter.show_bismillah?(verse) %>
    <div class="bismillah text text--black">
      ﷽
    </div>
  <% end %>
